{% extends 'base.html' %}

{% block title %}Add a transit app on City-Go-Round{% endblock %}

{% block content %}
<!-- TODO jesse: add some design here. (dave) -->
    <div id="add-app-form-container" class="body-content">            
        <h3>ADD A NEW TRANSIT APP [Step 1 of 2: Basic Information]</h3>
        <form id="add-app-form" action="" method="POST" enctype="multipart/form-data">
            <table>
            {{ form.as_table }}
            </table>

            <input type="submit" value="Onward To Step 2..."></input>
        </form>
    </div>
{% endblock %}


{% block scripts %}
{% endblock %}
