{% extends 'base.html' %}

{% block title %}Add a transit app on City-Go-Round{% endblock %}

{% block content %}
<!-- TODO jesse: add some design here. (dave) -->
    <div id="add-app-form-container" class="body-content">            
        <h3>ADD A NEW TRANSIT APP [Step 2 of 2: What Agencies Your App Supports]</h3>
        <h2>Select agencies that your application supports:</h2>
        <form id="add-agencies-form" action="" method="POST">
          {# This is only going to spew out hidden input fields, so... whatever. #}
          {{form.as_p}}    
          <input type="submit" value="Add The App!"></input>    
        </form>
    </div>
{% endblock %}


{% block scripts %}
{% endblock %}
