{% extends 'base.html' %}

{% block title %}Where does your app work? &mdash; City-Go-Round{% endblock %}


{% block headscripts %}
<script type="text/javascript" src="{% static_url /js/app-form-locations.js %}"></script>
{% endblock %}

{% block content %}
<div class="body-content">

  <h3>ADD A NEW TRANSIT APP [Step 3 of 3]</h3>    
  {% if agencies_selected %}
  <h2>Where else does your application work?</h2>
  <p style="width: 500px"><strong>Note</strong>: You don't need to add locations where you have already specified a transit agency.  Also, please do not overstate the locations where your app works, or your app will be marked as spam.</p>
  {% else %}
  <h2>Where does your application work?</h2>
  <p>Please specify at least one location where your application works.</p>
  <p style="width: 500px"><strong>Note</strong>: Please do not overstate the locations where your app works, or your app will be marked as spam.</p>
  {% endif %}
  
  
  <form id="locations-form" class="add-locations-form" action="" method="post" onkeypress="return event.keyCode!=13">
    {# This will mostly spit out hidden fields, but it also spits out the global field. #}
    {{form.as_p}}    
    <p><input type="checkbox" name="entire-us" id="entire-us" />Entire U.S.</p>
    <p><input type="checkbox" name="choose-locations" id="choose-locations" />Select countries or cities</p>
    <div id="location-list">		
			<div id="locations">
			</div>
			<div id="location-entry">
  			<label>Enter a city or Country name: </label>
  			<input type="text" id="query" />
  			<input id="add-query-button" type="button" value="Add" />
			</div>
		</div>
    
    <input type="submit" value="Add The App!"></input>    
  </form>
</div>
<!--input id="debug-input" style="margin-top: 20px;" type="button" value="DEBUG: Show Data String" /-->
<div id="dbug"></div>
{% endblock %}



