{% extends 'base.html' %}

{% block title %}Open Transit Data &raquo; Details For {{transit_app.title}}{% endblock %}

{% block content %}
<div id="app-details" class="body-content col-group">    
    <h2>{{transit_app.title}} <span>By {{transit_app.author_name}}</span></h2>
    <p>{{transit_app.description}}</p>
    <div class="app-images">
        <img src="{{transit_app.screen_shot_url}}" alt="Application Screen Shot" />
        <label>Additional Images:</label>
        <div class="app-images-thumbs">
            <img src="{{transit_app.screen_shot_url}}" alt="Application Screen Shot" /><img src="{{transit_app.screen_shot_url}}" alt="Application Screen Shot" /><img src="{{transit_app.screen_shot_url}}" alt="Application Screen Shot" /><img src="{{transit_app.screen_shot_url}}" alt="Application Screen Shot" />
        </div>
    </div>
    <div class="app-info">
        <label>Full Description:</label> <p>{{transit_app.long_description}}"</p>
        <p><a href="{{transit_app.url}}">Visit developer's website</a></p>
        {% if transit_app.categories %}
            <div>
                <label>Categories:</label> <p>{% for i in transit_app.categories %}{% if not forloop.first %}, {% endif %}{{ i }}{% endfor %}<p>
            </div>
        {% endif %}
        {% if transit_app.platforms %}
            <div>
                <label>Platforms:</label> <p>{% for i in transit_app.platforms %}{% if not forloop.first %}, {% endif %}{{ i }}{% endfor %}<p>
            </div>
        {% endif %}
        {% if transit_app.tags %}
            <div>
                <label>All tags:</label> <p>{% for i in transit_app.tags %}{% if not forloop.first %}, {% endif %}{{ i }}{% endfor %}<p>
            </div>
        {% endif %}
        {% if agencies %}
            <div>
                <label>Agencies:</label> <p>{% for i in agencies %}{% if not forloop.first %}, {% endif %}{{ i }}{% endfor %}<p>
            </div>
        {% endif %}
        {% if locations %}
            <div>
                <label>Areas Supported:</label> <p>{% for i in locations %}<li>{{ i }}</li>{% endfor %}<p>
            </div>
        {% endif %}
    </div>
</div>
<div class="wide-col rightmost">
	{% include "includes/mrec1.html" %}
</div>

{% endblock %}


{% block scripts %}
{% endblock %}
