{% extends 'base.html' %}

{% block title %}Open Transit Data &raquo; Details For {{transit_app.title}}{% endblock %}

{% block content %}
    <!-- TODO jesse: add some design here. (dave) -->
    
    <div id="app-details" class="body-content">    
        <h2>{{transit_app.title}} DETAILS:</h2>
        <table>
            <tr>
                <th>Description:</th>
                <td>{{transit_app.description}}</td>
            </tr>
            <tr>
                <th>Homepage:</th>
                <td><a href="{{transit_app.url}}">{{transit_app.url}}</a></td>
            </tr>
            <tr>
                <th>Author Name:</th>
                <td>{{transit_app.author_name}}</td>
            </tr>
            <tr>
                <th>Long Description:</th>
                <td>{{transit_app.long_description}}</td>
            </tr>
            <tr>
                <th>Tags:</th>
                <td>TODO DAVEPECK</td>
            </tr>
            <tr>
                <th>Screen Shot:</th>
                <td><img src="{{transit_app.screen_shot_url}}" alt="Application Screen Shot" /></td>
            </tr>
        </table>
    </div>
{% endblock %}


{% block scripts %}
{% endblock %}
