{% extends 'base.html' %}

{% block title %}Apps on City-Go-Round: Public transit apps, biking apps, walking apps, and driving apps.{% endblock %}

{% block content %}
<div style="float:left">
    <div class="col-group app-gallery body-content">
    	<h2>Transit App Gallery</h2>
    	<h5 class="bluegreen floatleft"><em>{{ transit_app_count }}</em> apps use open data from <span><em>{{ public_feed_count }}</em> transit agencies.</span>&nbsp <a href="{% url apps_add_form %}">Add a new app</a></h5>
    	<div class="narrow-col">
    		<h3>Recently added</h3>	 
    		<div class="app-thumbs">
    			{% partial "includes/app-thumb-list.html" {'apps': recently_added_apps} %}		</div>
    	</div>
    	
    	<div class="narrow-col">
    		<h3>Editor's Choice</h3>
    		<div class="app-thumbs">
    			{% partial "includes/app-thumb-list.html" {'apps': featured_apps} %}
    		</div>
    	</div>
    </div>
    
    <div class="col-group app-gallery body-content">
    	<h3 class="clear-all">Public transit apps</h3> 
    	<div class="app-thumbs">
    		{% partial "includes/app-thumb-list.html" {'apps': transit_apps} %}
    	</div>
    </div>
    <div class="col-group app-gallery body-content">
    	<h3 class="clear-all">Biking apps</h3> 
    	<div class="app-thumbs">
    		{% partial "includes/app-thumb-list.html" {'apps': biking_apps} %}
    	</div>
    </div>
    <div class="col-group app-gallery body-content">
    	<h3 class="clear-all">Walking apps</h3> 
    	<div class="app-thumbs">
    		{% partial "includes/app-thumb-list.html" {'apps': walking_apps} %}
    	</div>
    </div>
    <div class="col-group app-gallery body-content">
    	<h3 class="clear-all">Driving apps</h3> 
    	<div class="app-thumbs">
    		{% partial "includes/app-thumb-list.html" {'apps': driving_apps} %}
    	</div>
    </div>

</div>
<div class="wide-col rightmost">
	{% include "includes/mrec1.html" %}
</div>


{% endblock %}


{% block scripts %}
{% endblock %}
