{% extends 'base.html' %}

{% block title %}City-Go-Round &raquo; Details For {{transit_app.title}}{% endblock %}

{% block extra_head %}
<script type="text/javascript">
//<![CDATA[
google.load("maps", "2.167");
jQuery.noConflict();
jQuery(document).ready(function($) 
{ 
    function url_for_agency_query(latitude, longitude)
    {
        return "{% url api_agencies_search %}" + "?type=location&lat=" + latitude + "&lon=" + longitude;
    }
    
    function html_for_agency(agency) 
    {
        var html = '<div><a href="'+agency.details_url+'">'+agency.name+'</a></div>';
        return html;
    }
    
    function handle_agency_query_results(agencies, geodata)
    {
        var num_closed_agencies = 0;
        var num_open_agencies = 0;
        var open_agencies_html = "";
        var closed_agencies_html = "";
    
        $.each(agencies, function(i, agency)
        {
            if( agency.is_public ) 
            {
                open_agencies_html += html_for_agency( agency );
                num_open_agencies++;
            } 
            else 
            {
                closed_agencies_html += html_for_agency( agency );
                num_closed_agencies++;
            }
        });
        var total_agencies
        
        if (agencies.length > 0) {
            var agency_details = "";
            if (num_open_agencies > 0) {
                agency_details += "<h6>Agencies with open data:</h6>";
                agency_details += "<div class='open-agency-links'>" + open_agencies_html + "</div>";
            }
            if (num_closed_agencies > 0) {
                agency_details += "<h6>Agencies with no open data:</h6>";
                agency_details += "<div class='closed-agency-links'>" + closed_agencies_html + "</div>";
            }
            $("#nearby-agency-details").hide().html(agency_details);
            
            var agency_summary = num_open_agencies + ' of ' + agencies.length;

            if (geodata.hasCity())
                agency_summary += ' transit agencies near ' + geodata.getCity() + ' provide open data:';
            else 
                agency_summary += ' nearby transit agencies provide open data:';

            if ( num_open_agencies == agencies.length ) {
                $("#standard-text").hide();
                $("#nearby-agency-summary").removeClass("red").addClass("green");
                $("#all-agencies-have-data").hide().fadeIn(1000);            
            }
            else {
                $("#some-agencies-missing-data").hide().fadeIn(1000);                           
            }
            $("#nearby-agency-summary").hide().html(agency_summary).fadeIn(1000);
            $("#nearby-agency-details").show("blind", { direction: "vertical" }, 1000);
        }
        else {
            var message = (geodata.hasCity()) ? "No transit agencies were found near " + geodata.getCity() + "." : "No transit agencies were found near the location you queried.";
            $("#nearby-agency-summary").hide().html(message).fadeIn(1000);
            $("#no-nearby-agencies").hide().fadeIn(1000);            
        }    
    }
    
    function query_for_agencies(latitude, longitude, country_code, geodata)
    {
        $.getJSON(url_for_agency_query(latitude, longitude), function(all_agencies){ handle_agency_query_results(all_agencies, geodata); });
    }
    
    function handle_google_geocode_response(geodata)
    {
        if (geodata.hasData())
        {
            // Perform the agencies queries            
            query_for_agencies(geodata.getLat(), geodata.getLng(), geodata.getCountryCode(), geodata);
        }
        else
        {
            // pretend like we got no results
            handle_agency_query_results([]);
        }
    }
    
    function find_nearby_transit_apps()
    {
        var query = "{{location_query|escapejs}}";
        var geocoder = new Geocoder();
        geocoder.geocode(query, handle_google_geocode_response);
    }

    find_nearby_transit_apps();
});
//]]>
</script>
{% endblock %}

{% block content %}
    
<div id="app-info" class="body-content col-group">    
    <h4>{{transit_app.title}} uses transit data from agencies that provide open data.</h4>
    <p id="standard-text">If you do not see transit data on {{transit_app.title}}, then your transit agencies do not provide open data to software developers.</p> 

    <h5 class="red" id="nearby-agency-summary"><img src="{% static_url /images/ajax-loader-bluegreen.gif %}" width="16" height="16" alt="progress spinner" />&nbsp;searching for agencies near {{location_query|escapejs}} ...</h5>          
    <div id="nearby-agency-details"></div>

    <div id="no-nearby-agencies">
        <p>Note: City-Go-Round currently covers all transit agencies in the US, and is working on expanding internationally.  If we're missing an agency in the US, please <a href="{% url contact %}">contact us</a>.</p> 
    </div>   
     
    <div id="all-agencies-have-data">
        <p><br />If you're not seeing transit information for these agencies on {{transit_app.title}}, please contact {{transit_app.title}} to request that they update their data to include these agencies.</p> 
    </div>    
    
    <div id="some-agencies-missing-data">  
        <h4>Fill out the form below to request open data:</h4>
        <div id="petition" class="body-content thinline">
    		<div class="boxed-content">
                <h2>Support Open Data</h2>
                <div class="narrow-col">
                    {% include "includes/petition-text.html" %}
                    {% include "includes/petition-disclaimer.html" %}
                </div>
                <div class="narrow-col rightmost">
                    {% include "includes/petition-form.html" %}
                </div>
            </div>
        </div>
        <p>Note: If you're not seeing transit information on {{transit_app.title}} from an agency that has open data, then {{transit_app.title}} may be in the process of updating its data.</p>
    </div>
</div>
<div class="wide-col rightmost">
	{% include "includes/mrec1.html" %}
</div>
{% endblock %}
