{% extends 'base.html' %}

{% block title %}Transit apps near {{location_query}} on City-Go-Round{% endblock %}

{% block extra_head %}
<script type="text/javascript">
google.load("maps", "2.167");
jQuery.noConflict();
jQuery(document).ready(function($) 
{
    
    function url_for_transit_app_query(latitude, longitude, country_code)
    {
        return "{% url api_apps_search %}" + "?lat=" + latitude + "&lon=" + longitude + "&country=" + country_code;
    }
    
    function url_for_agency_query(latitude, longitude)
    {
        return "{% url api_agencies_search %}" + "?type=location&lat=" + latitude + "&lon=" + longitude;
    }
    
    function url_for_transit_app(slug)
    {
        return "{% url apps_details transit_app_slug='REPLACEME' %}".replace('REPLACEME', slug);
    }
    
    function html_for_row(name, item)
    {
        return "<tr><th>" + name + "</th><td>" + item + "</td></tr>\n";
    }
    
    function link(url)
    {
        return '<a href="' + url + '">' + url + '</a>';
    }
    
    function img(src, alt)
    {
        return '<img src="' + src + '" alt="' + alt + '" />';
    }
        
    function html_for_multiple_apps(array) 
    {
        if (array.length == 0)
        {
            return '<p>No apps found.  Would you like to <a href="{% url apps_add_form %}">add an app</a>?</p>';
        }
        
        var html = "";
        for (var i=0; i<array.length; i++){
            html += html_for_transit_app_thumb(array[i])
            if (i%2==1)
                html += '<br class="clear-all" />';
        }
        return html;
    }    
        
    function html_for_transit_app_thumb(transit_app) 
    {
        var feature_html = (transit_app.is_featured) ? '<img class="featured" src="{% static_url /images/editors-choice3.gif %}" />' : '';
        
        var html = '<div class="app">';
        html += '<a href="' + transit_app.details_url + '">';
        html += img(transit_app.default_80sq_screen_shot_url, "Application Screen Shot")
        html += '</a>';
        html += '<h5><a href="' + transit_app.details_url + '">' + transit_app.title + '</a></h5>';
        html += '<label>By ' + transit_app.author_name + '</label>';
        html += '<div class="rating"><div style="width:' + (transit_app.rating * 79.0/5.0) + 'px;"></div><p>(' + transit_app.rating_count + ' ratings)</p></div>';
        html += '<p>' + feature_html + transit_app.description + '&nbsp; <span>Platforms: ' + get_platforms(transit_app) + '</span></p>';
        html += '</div>';
        return html;
    }
    
    function get_platforms(app) 
    {
        var html = "";
        for (var i=0; i<app.platforms.length; i++)
        {
            html += (( i>0 ) ? ", ":"") + app.platforms[i];
        }
        return html;
    }
    
    function html_for_agency(agency) 
    {
        var html = '<div><a href="'+agency.details_url+'">'+agency.name+'</a></div>';
        return html;
    }
    
    function app_has_tag(app, target_tag)
    {
        for (var i=0; i<app.tags.length; i++)
        {
            if (app.tags[i]==target_tag)
            {
                return true; 
            }
        }
        return false;
    }
    
    function handle_transit_app_query_results(all_apps, query_info_html)
    {
        var transit_apps = [];
        var biking_apps = [];
        var walking_apps = [];
        var driving_apps = [];
        
        //sort biking apps from others
        $.each(all_apps, function(i, transit_app)
        {
            if (app_has_tag(transit_app, "Public Transit")) 
            {
                transit_apps.push(transit_app);
            }
            else if (app_has_tag(transit_app, "Biking")) 
            {
                biking_apps.push(transit_app);
            }
            else if (app_has_tag(transit_app, "Walking")) 
            {
                walking_apps.push(transit_app);
            }
            else if (app_has_tag(transit_app, "Driving")) 
            {
                driving_apps.push(transit_app);
            }
        });
        
        $(".hide-on-load").hide();
        $(".clean_query_text").html(query_info_html);
        
        if (all_apps.length == 0)
        {
            var subhead_html = '<em>No</em> apps';
        }
        else if (all_apps.length == 1)
        {
            var subhead_html = '<em>1</em> app';
        }
        else
        {
            var subhead_html = '<em>' + all_apps.length + '</em> apps';
        }        
        subhead_html += ' near ' + query_info_html + '. &nbsp <a href="{% url apps_add_form %}">Add a new app</a>';
        
        $("#num_apps_found").html(subhead_html).fadeIn(1000);        
        if (all_apps.length > 0)
        {
            $("#transit_apps").html(html_for_multiple_apps(transit_apps)).fadeIn(1000);
            $("#biking_apps").html(html_for_multiple_apps(biking_apps)).fadeIn(1000);
            $("#walking_apps").html(html_for_multiple_apps(walking_apps)).fadeIn(1000);
            $("#driving_apps").html(html_for_multiple_apps(driving_apps)).fadeIn(1000);
            $(".hidden").removeClass("hidden");
        }
    }
    
    function query_for_transit_apps(latitude, longitude, country_code, query_info_html)
    {
        $.getJSON(url_for_transit_app_query(latitude, longitude, country_code), function(all_apps){ handle_transit_app_query_results(all_apps, query_info_html); });
    }
    
    function handle_agency_query_results(agencies)
    {
        var num_closed_agencies = 0;
        var num_open_agencies = 0;
        var open_agencies_html = "";
        var closed_agencies_html = "";
    
        $.each(agencies, function(i, agency)
        {
            if( agency.is_public ) 
            {
                open_agencies_html += html_for_agency( agency );
                num_open_agencies++;
            } 
            else 
            {
                closed_agencies_html += html_for_agency( agency );
                num_closed_agencies++;
            }
        });
        var total_agencies
        
        if (agencies.length > 0) {
            var agency_details = "";
            if (num_open_agencies > 0) {
                agency_details += "<h6>Agencies with open data:</h6>";
                agency_details += "<div class='open-agency-links'>" + open_agencies_html + "</div>";
            }
            if (num_closed_agencies > 0) {
                agency_details += "<h6>Agencies with no open data:</h6>";
                agency_details += "<div class='closed-agency-links'>" + closed_agencies_html + "</div>";
            }
            $("#nearby-agency-details").hide().html(agency_details);
            
            var agency_summary = num_open_agencies + ' of ' + agencies.length;
            agency_summary += ' nearby transit agencies provide open data to app developers. &nbsp; <a class="expandable">Details</a>';            
            if ( num_open_agencies == agencies.length ) {
                agency_summary = "Perfect!  " + agency_summary;
                $("#nearby-agency-summary").removeClass("red").addClass("green");
            }
            $("#nearby-agency-summary").hide().html(agency_summary).fadeIn(1000);
            $("#nearby-agency-summary").children("a").eq(0).bind("click", function(e){
                                                                    if ( $(e.target).hasClass("expanded") ) {
                                                                        $(e.target).removeClass("expanded");
                                                                        $(e.target).html("Details");
                                                                    }
                                                                    else {
                                                                        $(e.target).addClass("expanded");
                                                                        $(e.target).html("Hide details");
                                                                    }
                                                                    $("#nearby-agency-details").toggle("blind", { direction: "vertical" }, 800);
                                                                });
        }    
    }
    
    function query_for_agencies(latitude, longitude, country_code)
    {
        $.getJSON(url_for_agency_query(latitude, longitude), handle_agency_query_results);
    }
    
    // TODO davepeck: move this to shared utils and rationalize with similar code.
    function shorthand_for_place(place)
    {
        // Basic sanity check.
        if (!place.AddressDetails.Country)
        {
            return null;
        }        
        var country_name = String(place.AddressDetails.Country.CountryName);
        
        // do we have any details? Or just a country?
        if (!place.AddressDetails.Country.AdministrativeArea)
        {
            // in this case, the 'address' value has the best representation for what we want.
            return place.address;
        }
        
        // get our basic administrative details
        var admin_area = String(place.AddressDetails.Country.AdministrativeArea.AdministrativeAreaName);                    
        
        // try and get a detailed locality...
        var locality = null;
        if (place.AddressDetails.Country.AdministrativeArea.Locality)
        {
            var locality = String(place.AddressDetails.Country.AdministrativeArea.Locality.LocalityName);
        }
        else if (place.AddressDetails.Country.AdministrativeArea.SubAdministrativeArea && place.AddressDetails.Country.AdministrativeArea.SubAdministrativeArea.Locality)
        {
            var locality = String(place.AddressDetails.Country.AdministrativeArea.SubAdministrativeArea.Locality.LocalityName);
        }

        // don't use the locality if it simply duplicates the administrative area...
        if (locality == admin_area)
        {
            locality = null;
        }
        
        // return whatever is most detailed
        if (locality)
        {
            if (country_name == "USA")
                return [locality, admin_area].join(", ");
            return [locality, admin_area, country_name].join(", ");
        }
        else
        {
            if (country_name == "USA")
                return admin_area;
            return [admin_area, country_name].join(", ");                        
        }
    }
    
    function handle_google_geocode_response(response)
    {
        // human-friendly geocode result (default in case something goes wrong)
        var query_info_html = "&#8220;{{location_query|force_escape|escapejs}}&#8221;";
        
        if (response && response.Status.code == 200)
        {
            var place = response.Placemark[0];
            var latitude = place.Point.coordinates[1];
            var longitude = place.Point.coordinates[0];
            
            // What's the country code? (default to US)
            var country_code = "US"; 
            if (place.AddressDetails.Country)
            {
                country_code = String(place.AddressDetails.Country.CountryNameCode);                
            }
            
            // What's the human-friendly description of where the geocode landed?
            var shorthand = shorthand_for_place(place);            
            if (shorthand)
            {
                query_info_html = shorthand;
            }
            
            // Perform the transit app and agencies queries            
            query_for_transit_apps(latitude, longitude, country_code, query_info_html);
            query_for_agencies(latitude, longitude, country_code);
        }
        else
        {
            // pretend like we got no results
            handle_transit_app_query_results([], query_info_html);
            handle_agency_query_results([]);
        }
    }
    
    function find_nearby_transit_apps()
    {
        $("#num_apps_found").hide();
        var query = "{{location_query|escapejs}}";
        var googleCoder = new GClientGeocoder();
        googleCoder.getLocations(query, handle_google_geocode_response);    
    }

    find_nearby_transit_apps();
});

</script>
{% endblock %}

{% block location_query %}{{location_query|escape}}{% endblock %}

{% block content %}
<div class="col-group body-content">    
    <h2 class="hide-on-load bluegreen"><img src="{% static_url /images/ajax-loader-bluegreen.gif %}" width="16" height="16" />&nbsp;searching...</h2>
    <h2 class="bluegreen" id="num_apps_found"></h2>
    <h5 class="red" id="nearby-agency-summary">&nbsp;</h5>
    <div id="nearby-agency-details"></div>
    <div class="body-content col-group hidden">
        <h3>Public transit apps near <span class="clean_query_text">&nbsp;</span>:</h3>
        <div id="transit_apps" class="app-gallery"></div>
    </div>
    <div class="body-content col-group hidden">
        <h3>Biking Apps Near <span class="clean_query_text">&nbsp;</span>:</h3>
        <div id="biking_apps" class="app-gallery"></div>
    </div>
    <div class="body-content col-group hidden">
        <h3>Walking Apps Near <span class="clean_query_text">&nbsp;</span>:</h3>
        <div id="walking_apps" class="app-gallery"></div>
    </div>
    <div class="body-content col-group hidden">
        <h3>Driving Apps Near <span class="clean_query_text">&nbsp;</span>:</h3>
        <div id="driving_apps" class="app-gallery"></div>
    </div>
</div>
<div class="wide-col rightmost">
    <div id="petition" class="body-content thinline">
        <div class="boxed-content"> 
            
            <h2>SUPPORT OPEN DATA<br /></h2>
                {% include "includes/petition-text.html" %} 
                {% include "includes/petition-disclaimer.html" %}               
                {% include "includes/petition-form.html" %}
        </div>
    </div>


	{% include "includes/mrec1.html" %}
</div>

      
{% endblock %}


