{% extends 'base.html' %}

{% block title %}Transit apps near {{location_query}} on City-Go-Round{% endblock %}

{% block extra_head %}
<script type="text/javascript">
google.load("maps", "2.167");
jQuery.noConflict();
jQuery(document).ready(function($) 
{
    
    function url_for_transit_app_query(latitude, longitude, country_code)
    {
        return "{% url api_apps_search %}" + "?lat=" + latitude + "&lon=" + longitude + "&country=" + country_code;
    }
    
    function url_for_agency_query(latitude, longitude)
    {
        return "{% url api_agencies_search %}" + "?type=location&lat=" + latitude + "&lon=" + longitude;
    }
    
    function url_for_transit_app(slug)
    {
        // TODO davepeck: How to use django's URL template tag here?
        return '/apps/' + slug + '/';
    }
    
    function html_for_row(name, item)
    {
        return "<tr><th>" + name + "</th><td>" + item + "</td></tr>\n";
    }
    
    function link(url)
    {
        return '<a href="' + url + '">' + url + '</a>';
    }
    
    function img(src, alt)
    {
        return '<img src="' + src + '" alt="' + alt + '" />';
    }
    
    function html_for_transit_app(transit_app)
    {
        var html = "<table>";       
        html += html_for_row("Description:", transit_app.description);
        html += html_for_row("Homepage:", link(transit_app.url));
        html += html_for_row("Author Name:", transit_app.author_name);
        html += html_for_row("Long Description:", transit_app.long_description);
        html += html_for_row("Screen Shot:", img(transit_app.screen_shot_url, "Application Screen Shot"));
        html += "</table><p>&nbsp;</p>";
        return html;
    }
    
    function query_for_transit_apps(latitude, longitude, country_code)
    {
        $.getJSON(url_for_transit_app_query(latitude, longitude, country_code), function(transit_apps)
        {
            var transit_app_count = 0;
            var transit_apps_html = "";
            
            $.each(transit_apps, function(i, transit_app)
            {
                transit_app_count += 1;
                transit_apps_html += html_for_transit_app(transit_app);             
            });

            $("#transit_app_loading").fadeOut(0.0, function(){});
            $("#tables_go_here").hide().html(transit_apps_html).fadeIn(1000.0, function(){});
            $("#transit_app_headline").hide().text("There are " + transit_app_count + " apps.").fadeIn(1000.0, function(){});
        });
    }
    
    function query_for_agencies(latitude, longitude, country_code)
    {
        // TODO DAVEPECK
    }
    
    function handle_google_geocode_response(response)
    {
        if (response && response.Status.code == 200)
        {
            var place = response.Placemark[0];
            var latitude = place.Point.coordinates[1];
            var longitude = place.Point.coordinates[0];
            var country_code = String(place.AddressDetails.Country.CountryNameCode);
            query_for_transit_apps(latitude, longitude, country_code);
            query_for_agencies(latitude, longitude, country_code);
        }        
    }
    
    function find_nearby_transit_apps()
    {
        $("#transit_app_headline").hide();
        var query = getUrlParam('location_query');
        var googleCoder = new GClientGeocoder();
        googleCoder.getLocations(query, handle_google_geocode_response);    
    }

    find_nearby_transit_apps();
});

</script>
{% endblock %}

{% block content %}

    <div id="nearby-apps" class="body-content thinline">
        <div class="boxed-content">
            <h2>Transit Apps Near {{location_query}}:</h2>
            <h3 id="transit_app_headline"></h3>
            <h3 id="transit_app_loading"><img src="{% static_url /images/ajax-loader.gif %}" />LOADING...</h3>
            <div id="tables_go_here"></div>
        </div>
    </div>

    <div id="petition" class="body-content thinline">
        <div class="boxed-content"> 
            
            <h4>Nearby Agencies with no public data</h4>
            <div class="agency-text-list" id="fill_nearby_no_public"><span class="loading">TODO DAVEPECK...</span></div>

            <h2>SUPPORT PUBLIC DATA</h2>
            <div class="wide-col rightmost">
                {% include "includes/petition-text.html" %} 
                {% include "includes/petition-disclaimer.html" %}               
            </div>
            
            <div class="narrow-col">
                {% include "includes/petition-form.html" %}
            </div>
            <br class="clear-all" />
        </div>
    </div>
      
{% endblock %}


