{% extends 'base.html' %}

{% block title %}Transit apps near {{location_query}} on City-Go-Round{% endblock %}

{% block extra_head %}
<script type="text/javascript">
jQuery(document).ready(function() {
    var agencies;
    var agency_no_public;
    var agency_public;
    var agency_public_count = 0;
    var apps;
    function display_apps(json){
        agencies = json.agencies;
        agency_public = {};
        agency_no_public = {};
        
        var agency_public_html = '<p><strong>Apps powered by:</strong>';
        var agency_no_public_html ='<p>';
        apps = [];
        jQuery.each(agencies, function(i,a){
            var name = a.name;
            var slug = a.urlslug;
            if (a.apps.length){
                jQuery.each(a.apps, function(i,j){apps.push(j);});
                agency_public_count += 1;
                agency_public_html += '<a href="/agencies/' + slug + '">' + name + '</a> | ';
                }
            else{
                agency_no_public_html += '<a href="/agencies/' + slug + '">' + name + '</a> | ';
                }
            });
				agency_no_public_html +='</p>';
				agency_public_html += '</p>';
				
        var summary = '<h4 class="bluegreen"><em>' + apps.length + '</em> transit apps use public data from ';
        summary += '<span><em>' + agency_public_count + '</em> transit agencies.</span></h4>';
        
        var app_html = ''
        jQuery.each(apps, function(i,a){
            app_html += a.name + '<br><br>'
            });
        jQuery('#fill_nearby_summary').html(summary);
        jQuery('#fill_nearby_no_public').html(agency_no_public_html);
        jQuery('#fill_nearby_public').html(agency_public_html);
        jQuery('#fill_nearby_apps').html(app_html);
        }
        
        
    function find_nearby_agencies(){
        var base_url = 'http://maps.google.com/maps/geo?sensor=false&key={{GOOGLE_API_KEY}}';
        var address = getUrlParam('location_query');
        var qurl = base_url + '&q=' + address + '&callback=?';
        jQuery.getJSON(qurl, function(json){
            //console.log(json);
            if(json.Placemark){
                var p = json.Placemark[0];
                var ad = p.AddressDetails.Country.AdministrativeArea;
                //console.log(ad);
                if (!ad.CountryName=='USA'){
                    alert('sorry, for now we only support US addresses');
                    }
                var state = ad.AdministrativeAreaName;
                if (ad.SubAdministrativeArea && ad.SubAdministrativeArea.Locality) {
                    var city = ad.SubAdministrativeArea.Locality.LocalityName;
                    //window.location.replace('/agencies/US/' + state + '/' + city + '/');
                    }
                //else {
                    //window.location.replace('/agencies/US/' + state + '/');
                  //  }
                var coords = p.Point.coordinates;
                var lon = coords[0];
                var lat = coords[1];
                var nearby_url = '/agencies/search/?type=location&format=json';
                nearby_url += '&lat=' + lat + '&lon=' + lon;
                jQuery.getJSON(nearby_url, display_apps);
                }
            else{
                alert('unable to geocode your address');
                }
            });
        }

    find_nearby_agencies()
    });

</script>
{% endblock %}

{% block content %}
	<div class="col-group">
    <div id="petition" class="body-content thinline">
			<div class="boxed-content">	
      	<h4>Nearby Agencies with no public data</h4>
      	<div class="agency-text-list" id="fill_nearby_no_public"><span class="loading"></span></div>
	    	<h2>SUPPORT PUBLIC DATA</h2>
				<div class="wide-col rightmost">
			    {% include "includes/petition-text.html" %}	
			    {% include "includes/petition-disclaimer.html" %}				
		    </div>
		    <div class="narrow-col">
		    	{% include "includes/petition-form.html" %}
			  </div>
			  <br class="clear-all" />
		  </div>
	  </div>
	  <br class="clear-all" />
	  <div id="fill_nearby_summary">loading..</div>
	  <div class="agency-text-list" id="fill_nearby_public"></div>
	  <div id="fill_nearby_apps"></div>
	  <div class="narrow-col"> 
	    <div class="app-thumbs">   
	        
		    {% for transit_app in transit_apps %}
			    <div class="app"> <a href="{% url apps_details transit_app_slug=transit_app.slug %}"><img src="{{transit_app.screen_shot_url}}" alt="Application Screen Shot" /></a>
			      <h5><a href="{% url apps_details transit_app_slug=transit_app.slug %}">{{transit_app.title}}</a></h5>
			      <p>{{transit_app.description}}</p>
			    </div>
		    {% endfor %}

			</div>
		</div>

	  <div class="narrow-col"> 
	    <div class="app-thumbs">   
	        
		    {% for transit_app in transit_apps %}
			    <div class="app"> <a href="{% url apps_details transit_app_slug=transit_app.slug %}"><img src="{{transit_app.screen_shot_url}}" alt="Application Screen Shot" /></a>
			      <h5><a href="{% url apps_details transit_app_slug=transit_app.slug %}">{{transit_app.title}}</a></h5>
			      <p>{{transit_app.description}}</p>
			    </div>
		    {% endfor %}

			</div>
		</div>
				
	</div>
	
	<div class="wide-col rightmost">
	  {% include "includes/mrec1.html" %}
	</div>

{% endblock %}


{% block scripts %}
{% endblock %}
