/*********** RESET ****************/
	html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
	pre,code,address,caption,cite,code,em,strong,th { font-size: 1em; font-weight: normal; font-style: normal; }
	h1,h2,h3,h4,h5,h6,strong { font-weight: bold; margin: 0; padding: 0; }
	cite, em { font-style:italic; }
	ul, ol { margin: 0 0 0 0; list-style-type: none; }
	fieldset,img { border: 0; }
	caption,th { text-align: left; }
	table { border-collapse: collapse; border-spacing: 0; }
/*********** Globals ****************/
	body { 
		width: 100%;
		text-align: center;
	}
	body * { 
		text-align: left;
	}
	select {
		color: #5c5c5c;
		font: 11.4px/11px Tahoma, Verdana, sans-serif;
		width: 150px; 
	}
	cite, blockquote {
		font-style: normal;
		display: inline;
	}
	div.clickable, div.clickable2, div.clickable *, div.clickable2 * {
		cursor: pointer;
		overflow: hidden;
	}
	div.clickable p, div.clickable2 p {
		color: #cf7200;
		line-height: 12px;
		display: block;
	}
	div.clickable:hover p {
		color: #628dc7;
	}
	div.clickable2 {
		border: 1px solid #fff;
	}
	div.clickable2:hover {
		border-color: #ccc;
		background-color: #f7f7f7;
	}
	.hidden {
		display: none;
	}
	
/*********** Fonts ****************/
	h1,h2,h3,h4,h5,h6 { 
		font-family: "trebuchet ms", Geneva, Arial, Helvetica, sans-serif;
		color: #f79900;
		}
	
    h1 {
    	font-size:55px; 
    }
    h2 {
		font-size:22px; 
		padding: 0 0 7px 0;	}
	h3 {
		font-size:19px;
		font-weight: normal;
		padding: 12px 0 8px 0;
	}
	h3 em {
		font-size: 22px;
		font-style: normal;
	}
	.boxed-content h2, .boxed-content h3 {
		padding: 0;
	}
	h4 {
		font-size: 16px;
		font-weight: normal;
	}
	h5 {
		font-size:12px; 
	}
	h6 {
		font-size:12px;
		font-weight: normal;
		line-height:12px; 
		color: #777;
		margin: 2px 0 8px 0;
	}
	
	#petition h2 { color: #028dc7; }
	#petition h4 { color: #f72e2e; }
	.data-lists h2 { color: #f72e2e; }
	#no-data-list h3 { color: #f72e2e; }
	#recently-added-list h3 { color: #18b541; font-size: 18px; }

	
  p, a, ul, ol, blockquote, label, span, li {
		font:12px Verdana, Arial, Helvetica, sans-serif;
		color: #555;
	}
	ul, ol {
		padding-left: 5px;
	}
	.p2 {
		font-size:11px;
		color: #909090;
	}
	cite {
		font-weight: bold;
	}
	.body-content p, p.body {
		margin: 2px 0 8px 0;
	}
	.body-content ul {
        padding-bottom: 8px;
    }
	.body-content li {
    	margin-bottom: 6px;
    }
	

/*********** Links ****************/
  a, a:link {	
		color: #cf7200;
		cursor: pointer;
	}	
	a:hover {
		color: #628dc7;
		text-decoration: underline;
	}
	a {
  	outline: none;
	}
	a.anchor {
		cursor: text;
	}
	
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: #cf7200;
		text-decoration: none;
	}
	h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
		color: #628dc7;
	}
	
	
/*********** LAYOUT ****************/

	#header {
		margin: 0px auto 0 auto;
		width: 920px;
		position:relative;
		height: 115px;
	}
	#lede {
		background-color: #c6e6f2;
		margin: 0px auto 16px auto;
		width: 920px;
		height: 60px;
	}
	#outer-wrapper {
		margin: 0px auto 0 auto;
		width: 920px;
		position:relative;
	}
	
	#outer-wrapper .rightmost {
		margin-right: 0;
		text-align: right;
	}
	.narrow-col { 
		width: 260px;
		margin-right: 30px;
		float: left;
	}
	.wide-col { 
		width: 300px;
		margin-right: 30px;
		float: left;
	}	
	.col-group {
		width: 598px;
		float: left;
		clear: both;
		margin-right: 20px;
		border: 1px solid #fff;
	}
	.boxed-content {
		margin: 8px 10px 0 12px;
	}
		.col-group .widecontent {
			padding-bottom: 10px;
		}
		.col-group .boxed-content .narrow-col { 
			width: 260px;
		}
		.col-group .boxed-content .wide-col { 
			width: 276px;
		}
	
	#footer {
		clear: both;
		margin: 0 auto 0 auto;
		width: 920px;
		position: relative;
		top: 10px;
	}
	
	
	.floatleft {
		float: left;
		margin-right: 12px;
	}
	.floatright {
		float: right;
		margin-left: 12px;
	}
	.clear-all {
		clear: both;
	}	
	#outer-wrapper .thinline {
		border: 1px solid #bbb;
		padding-bottom: 10px;
		margin-bottom: 14px;
	}



/*********** HOME PAGE ****************/
		.green h2{
			color:green;
		}

		#no-data-list a, #recently-added-list a{
			text-decoration: none;
		}
	
/*********** HEADER ****************/
	#header h1 {
		position:absolute;
		top: 16px;
		left: -5px;
		width: 354px;
		height: 73px;
		background: url(/images/city-go-round-logo.png) 0 0 no-repeat;
		text-indent: -40000px;
		cursor: pointer;
	}
	#header h2 {
		position:absolute;
		top: 62px;
		left: 360px;
		font: 16px/16px Verdana, Arial, Helvetica, sans-serif;
		padding: 0;
		color: #888;
	}
	#header #nav {
		position:absolute;
		top: 93px;
		left: 86px;
		color: #ccc;
	}
	#header #front-seat-logo {
		position: absolute;
		top: 20px;
		right: 0px;
	}
	#header #nav a {
		text-decoration: none;
		font-size: 13px;
		font-weight: bold;
		position: relative;
		top: 1px;
	}
	#header #nav a:hover {
		color: #628dc7;
		text-decoration: underline;
	}
	#friends-and-followers {
		position: absolute;
		bottom: 3px;
		left: 734px;
	}	
	#friends-and-followers div {
		float:left;
		white-space: nowrap;		
		width: 85px;
		padding: 3px 4px 2px 0;
	}
	#friends-and-followers div.friend-twitter {
		margin-right: 4px;
	}
	#friends-and-followers div p {
		padding: 4px 0 0 29px;
		margin-left: 3px;
		height: 18px;
		color: #999;
		font-size: 11px;
	}
	#friends-and-followers div.friend-facebook p { background: url(/images/otd-icons.png) 0 0 no-repeat; }
	#friends-and-followers div.friend-twitter p { background: url(/images/otd-icons.png) 0 -22px no-repeat; }
	
/*********** FOOTER ****************/
	
	#footer {
	   margin-top: 40px;
	   padding-bottom: 20px;
	}
	#footer #license {
	   margin-top: 12px;
	}
	#footer #license p, #footer #license p span {
	   color: #888;
    }
	#footer #license p, #footer #license p span, #footer #license p a {
	   font-size: 11px;
	}
	#footer #footer-nav, #footer #footer-nav a {
		text-decoration: none;
		color: #444;
	}
	#footer #footer-nav a:hover {
		color: #628dc7;
		text-decoration: underline;
	}

	#footer #gtfs-data-exchange-logo {
		position: absolute;
		top: 0;
		right: 0;		
		font-size: 11px;
		color: #999;
	}
	#footer #gtfs-data-exchange-logo img{
	float: right;
	position: relative;
	top: -10px;
	}

/*********** LISTS ****************/
	.agency-list .odd{
		background:#DFF4FF;
	}
	.agency-list {
		color: #cf7200;
		list-style-type: none;
	}
	.agency-list h5 a {
		font: 11px/13px Verdana, Arial, Helvetica, sans-serif;
		font-weight: bold;
		padding-bottom: 0;
		margin: 0;
	}
	.agency-list p.tagline {
		font: 11px/14px Verdana, Arial, Helvetica, sans-serif;
		color: #777;
	}
	.agency-list p a {
		color: #696969;
	}
	.agency-list p a:hover {
		color: #628dc7;
	}
	.agency-list p span {
		font-size: 10px;
	}
	.agency-list li {
		margin-bottom: 5px;
	}

	/* condensed text list, names only: (shown on search results page) */
	.agency-text-list a {
		color: #316b84;
		text-decoration: none;
	}
	.agency-text-list a:hover {
		text-decoration: underline;
	}	
	
	
/*********** LEDE ****************/
	
	#lede {
		position: relative;
	}
	#lede label {
		font: 24px/24px Verdana, Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #028dc7;
		position: absolute;
		top: 16px;
		left: 30px;
	}	
	#lede input#location_query {
		font: 18px/18px Verdana, Arial, Helvetica, sans-serif;
		color: #888;
		position: absolute;
		top: 17px;
		left: 305px;
		width: 380px;
height: 27px;
border: 1px solid #999;
		padding: 0 0 0 6px;
		margin: 0;		
	}	
	#lede input#search {
		position: absolute;
		top: 17px;
		left: 705px;
		height: 27px;
border: 1px solid #999;
	}	
	#lede p {
		font:10px/10px Verdana, Arial, Helvetica, sans-serif;; 
		color: #888;
		position: absolute;
		bottom: 2px;
		left: 0;
		width: 693px;
		text-align: right;
	}

/*********** PETITION FORM ****************/

	.body-content blockquote {
		margin: 8px 15px 0 0;
		padding-bottom: 10px;
		font-style: italic;
		display: block;
	}
	#petition-form th {
		width: 70px;
	}
	#petition-form table input {
		height: 18px;
		font: 12px/12px Verdana, Arial, Helvetica, sans-serif;
		margin-bottom: 2px;
		border: 1px solid #999;
	}
	#petition-form .button {
		margin: 8px 0 6px 75px;
	}


/*********** ADD APP FORM ****************/

/* TODO jesse -- i threw these together. fix 'em -- dave */

	.add-app-form blockquote {
		margin: 8px 15px 12px 0;
		font-style: italic;
		display: block;
	}
	.add-app-form th, .add-app-form td {
		width: 230px;
		min-height: 32px;
		padding: 0px 2px 8px 2px;
	}
	.add-app-form td {
		width: 350px;
	}
	.add-app-form table input {
		font: 12px/12px Verdana, Arial, Helvetica, sans-serif;
		margin-bottom: 2px;
		border: 1px solid #999;
	}

	.add-app-form table textarea {
		font: 12px/12px Verdana, Arial, Helvetica, sans-serif;
		margin-bottom: 2px;
		border: 1px solid #999;
		width: 250px;
	}	 
	.add-app-form table select {
		width: 250px;
	}
	
	.add-app-form table input[type="file"] {
		border: 0;
		color: #444;
	}
	
	.add-app-form table ul {
		list-style-type: none;
	}
	
	.add-app-form table ul.errorlist li {
		color: red;
	}
	
	.add-app-form table input[type="radio"] {
		border: 0;
		width: 20px;
	}
	
	.add-app-form .button {
		margin: 8px 0 6px 75px;
	}
	
	#list-panel {
	  clear: both;
	  width: 700px;
	  margin-left: 40px;
	}
	


/*********** FEATURED APPS ****************/
	#features {
		width: 100%;
		text-align: center;
	}
	#feat {
		text-align: left;
		background: url(/images/feature-gradient-bg.gif) 0 0 repeat-x; 
		width: 620px;
		height: 255px;
		margin: 14px auto 16px auto;
		position: relative;
	}
	#feat h3 {
		position: absolute;
		left: 60px;
		top: 15px;
		padding: 0;
		color: #546b75; 
		font-size: 18px;
	}
	#feat h3 a {
		text-decoration: underline;
	}
	#feat #feat-bigprev {
		position: absolute;
		top: 95px;
		left: 10px;
		width: 30px;
		height: 65px;
		background: url(/images/big-arrows.png) 0px 15px no-repeat;
		cursor: pointer;
		z-index: 90000;
	}
	#feat #feat-bigprev:hover {
		background-position: -30px 15px;
	}
	#feat #feat-bignext {
		position: absolute;
		top: 95px;
		right: 10px;
		width: 30px;
		height: 65px;
		background: url(/images/big-arrows.png) -60px 15px no-repeat;
		cursor: pointer;
		z-index: 90000;
	}
	#feat #feat-bignext:hover {
		background-position: -90px 15px;
	}
	#feat-controls {
		position: absolute;
		bottom: 3px;
		left: 190px;
		width: 212px;
		text-align: center;
	}
	#feat-controls #feat-controls-prev, #feat-controls #feat-controls-next, #feat-controls #jumplinks a {
		width: 16px;
		height: 21px;
		float: left;
		background: url(/images/feat-controls.gif) no-repeat;
		cursor: pointer;
	}
	#feat-controls #feat-controls-prev { background-position: 0px 5px; }
	#feat-controls #feat-controls-prev:hover { background-position: -16px 5px; }
	#feat-controls #feat-controls-next { background-position: -32px 5px; }
	#feat-controls #feat-controls-next:hover { background-position: -48px 5px; }

	#feat-controls #jumplinks a { 
		width: 22px; 
		background-position: -64px 5px;
	}	
	#feat-controls #jumplinks a:hover { background-position: -86px 5px; }
	#feat-controls #jumplinks a.current, #feat-controls #jumplinks a.current:hover { background-position: -108px 5px; }
	#feat #view-all {
		position: absolute;
		bottom: 8px;
		right: 15px;
	}
	#flowpanes {
		width: 100%;
		height: 180px;
        padding-top: 44px;
        position:relative; 
        overflow:hidden; 
        clear:both; 

	}
	#flowpanes .items { 
        width:20000em; 
        position:absolute; 
        clear:both; 
        margin:0; 
        padding:0; 
    } 
    #flowpanes .items div { 
        float:left; 
        display:block; 
        width:620px; 
        font-size:14px; 
    } 

	#flowpanes .items div img {
		float: left;	
		margin: 0 15px 0 60px;
		width: 180px;
		height: 180px;
	}
	#flowpanes .items div h4 a {
		color: #c76402; 
		font-size: 22px; 
		line-height: 22px; 
		padding: 0 0 12px 0;
		margin: 0;
	}
	#flowpanes .items div p {
		font-size: 18px;
		color: #6c6c6c;
		margin-right: 80px;
	}
	
    #flowpanes .less, #flowpanes .less a { 
        color:#999 !important; 
        font-size:11px; 
    }


/*********** APP GALLERY ****************/
	
	.app-gallery .app { 
		padding-bottom: 15px;
		min-height: 80px;
		width: 260px;
		float: left;
		margin-right: 30px;
	}	
	.app-gallery .odd {
		clear: both;
	}
	.app-gallery .wide-col .app, .app-gallery .narrow-col .app { 
		margin-right: 0;
	}	
	.app-gallery .app img { 
		float: left;
		margin-right: 10px;
		width: 80px;
		height: 80px;
	}
	.app-gallery .app h5 a { 
		color: #c76402; 
		font-size: 15px;
		font-weight: normal;
	}		
	.app-gallery .app label { 
		font-size: 11px;
		line-height: 11px;
		color: #777;
		display: block;
		padding-bottom: 3px;
	}	
	.app-gallery .app p span { 
		font-size: 10px;
		color: #aaa;
		margin: 0;
		padding: 0;
	}	
	.app-gallery .app img.featured { 
	   float: left;
	   margin: 0 4px 0 0;
	   border: 0;
	   width: 48px;
	   height: 27px;
	}	

    
    .app-gallery .rating, .app-gallery .rating div {
        width: 160px;
        height: 16px;
    }
    .app-gallery .rating p {
        margin-left:  88px;
        font-size: 10px;
        color: #888;
    }
    .app-gallery .rating {
        float: left;
        position: relative;
        background: url(/images/static-stars.gif) 0 -16px no-repeat;
        margin-bottom: 3px;
    }
    .app-gallery .rating div {
        position: absolute;
        top: 0;
        left: 0;
        background: url(/images/static-stars.gif) 0 0 no-repeat;   
        width: 20px; 
    }
    .app-gallery .rating div.stars0 { width: 0px; }
    .app-gallery .rating div.stars05 { width: 8px; }
    .app-gallery .rating div.stars10 { width: 16px; }
    .app-gallery .rating div.stars15 { width: 24px; }
    .app-gallery .rating div.stars20 { width: 32px; }
    .app-gallery .rating div.stars25 { width: 40px; }
    .app-gallery .rating div.stars30 { width: 48px; }  
    .app-gallery .rating div.stars35 { width: 56px; }  
    .app-gallery .rating div.stars40 { width: 64px; }  
    .app-gallery .rating div.stars45 { width: 72px; }  
    .app-gallery .rating div.stars50 { width: 80px; }    

	
/*********** APP DETAILS ****************/
    
    #app-details label {
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    .app-images {
        float: left;
        width: 315px;
        margin: 0 5px 8px 0;
        position: relative;
        top: 4px;
    }
    .app-images img {
        width: 300px;
        margin-bottom: 10px;
    }
    .app-images-thumbs {
        clear: both;
        margin-top: 4px;
    }
    .app-images-thumbs img {
        width: 145px;
        margin: 0 6px 10px 0;
    }
    .app-images-thumbs img.odd{
        clear: both;
    }

    .condensed-list li {
        font-size: 11px;
    }

    .condensed-link-list li a {
        font-size: 11px;
        color: #9b744e;
    }
    .condensed-link-list li {
        font-size: 10px;
        color: #777;
    }
    
    #ratings-panel {
        visibility: hidden;
        height: 48px;
    }
    #ratings-panel div#avg-rating-panel {
        clear: both;
        margin-top: 4px;
    }
    #ratings-panel div#your-rating-panel {
        clear: both;
        margin: 5px 0 7px 0;
    }
    #ratings-panel p {
        padding: 0;
        margin: 0 5px 0 0;
    }
    
    .app-info {
        width: 270px;
        float: left;
    }
    .app-info li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
/**************** jquery tools ui gallery css ***************/

 /* the active thumbnail */
#triggers a.active img {
	outline:1px solid #000;
	/* show on top of the expose mask */
	z-index:9999;
	position:relative;
}
/* the overlayed element */
.simple_overlay {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:#fff;
	
	width:675px;	
	min-height:200px;
	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}
#gallery .info strong {
    font: 12px/20px Verdana, Arial, Helvetica, sans-serif;
    color: #fff;
}
#gallery .info span {
    font: 11px/20px Verdana, Arial, Helvetica, sans-serif;
    color: #ccc;
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url(/images/overlay/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}
/* the large image. we use a gray border around it */
#img {
	position: relative;
	top: -1px;
	left: -1px;
}

/* "next image" and "prev image" links */
#gallery .next, #gallery .prev {
	
	/* absolute positioning relative to the overlay */
	position:absolute;
	top:40%;	
	border:1px solid #666;	
	cursor:pointer;
	display:block;
	padding:10px 20px;
	color:#fff;
	font: 11px/15px Verdana, Arial, Helvetica, sans-serif;
	
	/* upcoming CSS3 features */
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
}

#gallery .prev {
	left:0;
	border-left:0;
	-moz-border-radius-topleft:0;
	-moz-border-radius-bottomleft:0;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-top-left-radius:0;
}

#gallery .next {
	right:0;
	border-right:0;
	-moz-border-radius-topright:0;
	-moz-border-radius-bottomright:0;
	-webkit-border-bottom-right-radius:0;
	-webkit-border-top-right-radius:0;	
}

#gallery a.next:hover, #gallery a.prev:hover {
	color: #fdb052;
	text-decoration:underline;
	background-color:#000;
}

/* when there is no next or previous link available this class is added */
#gallery .disabled {
	visibility:hidden;		
}

/* the "information box" */
#gallery .info {
	position:absolute;
	bottom:0;
	left:0;	
	padding:10px 15px;
	color:#fff;
	font-size:11px;
	border-top:1px solid #666;
}

#gallery .info strong {
	display:block;	
}

/* progress indicator (animated gif). should be initially hidden */
#gallery .progress {
	position:absolute;
	top:45%;
	left:50%;
	display:none;
}

/* everybody should know about RGBA colors. */
#gallery .next, .prev, .info {
	background:#333 !important;
	background:rgba(0, 0, 0, 0.6) url(/images/overlay/h80.png) repeat-x;		
}
	
/*********** TWEETS ****************/
	.tweet {
		margin-bottom: 15px;
		clear: both;
		padding-top: 8px;
	}
	.tweet img {
		float: left;
		margin-right: 7px;
		position: relative;
		top: 3px;
		border: 1px solid #bbb;
	}
	.tweet label {
		float: right;
		color: #999;
		font-size:  11px;
	}
	.tweet blockquote {
		color: #666;
		font-size:  11px;
	}
	
/*********** SEARCH RESULTS ************/

	#fill_nearby_no_public {
		color: #316b84;
		margin-bottom: 10px;
	}

	#fill_nearby_public {
		color: #316b84;
		margin-bottom: 10px;
	}
	#biking_apps {
	   display: none;
    }
	
/*********** APP ADD FORMS ************/
	
	.add-locations-form p input {
		margin-right: 5px;
	}
	#location-list {
		display: none;
	}
	#locations div {
	 height: 30px;
		clear: both;
	}
	#locations p, #locations a {
		float: left;
		display: block;
		height: 20px;		
	}
	#locations p {
		min-width: 200px;
		margin-right: 6px;
		text-indent: 30px;
	}
	#locations p.goodresult {
		background: url(/images/check.gif) 5px 0px no-repeat;
	}
	#locations p span {
		margin-right: 8px;
		color: #888;
	}
	#locations a {
		float: left;
		display: block;
		font-size: 10px;
		height: 20px;
		display: none;
	}
	#location-entry {
		clear: both;
	}
/*********** ADS ************/
    .ads {
    }

/*********** WIDGETS ************/

	#widgets .narrow-col { 
		width: 240px;
		margin-right: 20px;
		float: left;
	}
	#widgets .wide-col { 
		width: 300px;
		margin-right: 20px;
		float: left;
	}	

    #widgets .code-box {
        font-size: 10px;
        width: 240px;
        height: 140px;
    }
    #cgr-widget1, #cgr-widget2, #cgr-widget3 {
        border: 1px solid #888;
    }
    
    

/*********** CUSTOM STUFF ************/
	.bluegreen {
		font-size: 16px;
		color: #028dc7;
	}
	.bluegreen span {
		font-size: 16px;
		color: #18b541;
	}
	.bluegreen em {
		font-size: 22px;
		font-style: normal;
	}
	.bluegreen a {
	text-decoration: underline;
	}
	
	
/*********** MISC STUFF WE MIGHT NOT ACTUALLY NEED ************/

.app-gallery #up-control, .app-gallery #down-control {
		width: 80px;
		clear: both;
		padding: 5px 0;	
	}
	.app-gallery #up-control label, .app-gallery #down-control label {
		height: 12px;
		font:12px/12px Verdana, Arial, Helvetica, sans-serif;
		padding: 0 0 0 28px;
	}
	.app-gallery #up-control label { background: url(/images/otd-icons.png) 0 -66px no-repeat; }
	.app-gallery #up-control:hover label { background-position: 0 -90px; }
	.app-gallery #down-control label { background: url(/images/otd-icons.png) 0 -78px no-repeat; }
	.app-gallery #down-control:hover label { background-position: 0 -102px; }	
	
	
	
	
/*********** AGENCY LISTING MISC ************/
.agency_public td, .pub td {background-color:#D1EFD5;}
.agency_no_public td, .no_pub td {background-color:#EFD1D1;}

.agency_detail{padding:5px;}
.agency_detail_key{font-weight:bold; width:200px;}
.agency_detail_value{}

.green{color:green;}
.red{color:red;}

.big_red{font-size:2em;font-weight:bold; color:red}
.big_green{font-size:2em; font-weight:bold; color:green;}


/*------------- ADMIN HOMEPAGE ----------------*/
#admin-outer-wrapper {
	padding: 1.75em;
	width: 920px;
	position:relative;
}

#admin-outer-wrapper p, #admin-outer-wrapper a
{
	font-size: large;	 
}

#admin-outer-wrapper p
{
	line-height: 1.75em;
}

#admin-transit-apps-list
{
	font: 11.4px/11px Tahoma, Verdana, sans-serif;    
}

#admin-transit-apps-list th
{
    font-weight: bold;
}

#admin-transit-apps-list tr
{
    padding-top: 0.2em;
}

#admin-transit-apps-list tr.even td
{
    background-color: #CCC;
}

#admin-transit-apps-list tr.odd td
{
    background-color: #EEE;
}

#admin-home.integrity-check table th
{
    font-weight: bold;
}

#admin-home.integrity-check table th, #admin-home.integrity-check table td
{
    padding: 0.66em;
}

#admin-home.integrity-check table .even td
{
    background-color: #DDD;
}

#admin-home.integrity-check table .odd td
{
    background-color: #BBB;
}

