{% extends 'admin/base.html' %}

{% block title %}City Go Round ADMIN Homepage{% endblock %}

{% block content %}
<div id="admin-home">
    <h2>Successfully updated all agency locations.</h2>
    
    <p>They should have accurate geocells, now. Neat, huh?</p>
    
    <p>Not convinced? Check out the AppEngine <a href="https://appengine.google.com/datastore/explorer?app_id=citygoround&amp;viewby=kind&amp;kind=Agency">admin control panel</a></p>
    
    <p>Can I interest you in a visit to the <a href="{% url admin_home %}">City-Go-Round admin homepage</a>?</p>    
</div>
{% endblock %}
