{% extends 'admin/base.html' %}

{% block title %}Edit a transit app on City-Go-Round{% endblock %}

{% block content %}
    <div id="add-app-form-container" class="body-content">            
        <h2>Edit Transit App Named "{{transit_app.title}}":</h2>
        <h3>(Step 1 of 3: Edit basic information.)</h3>
        <form class="add-app-form" action="" method="POST" enctype="multipart/form-data">
            <table>
            {{ form.as_table }}
            </table>

            <input type="submit" value="Onward To Editing, Step 2..."></input>
        </form>
    </div>
{% endblock %}


{% block scripts %}
{% endblock %}
