<html>
<head>
<title>{% block title %}City-Go-Round - A searchable directory of transit apps and public transit agencies{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static_url /css/main.css %}" media="screen" />
<script type="text/javascript" src="http://www.google.com/jsapi?key={{GOOGLE_API_KEY}}"></script>
{% include "includes/jquery_scripts.html" %}
{% block headscripts %}
{% endblock %}
    
<script type="text/javascript">
    function url_for_search(search_term)
    {
        return "{% url apps_nearby %}?q=" + search_term
    }
    
    function goto_search()
    {
        var search_term = jQuery('#location_query').val();
        var url = url_for_search(search_term);
        document.location = url;
        return false;
    }
</script>
{% block extra_head %}{% endblock %}

</head>
<body>
    <div id="admin-outer-wrapper">
        {% block content %}
        {% endblock %}
    </div>
</body>
<script src="{% static_url /js/util.js %}" type="text/javascript"></script>
{% block scripts %}
{% endblock %}
<script type="text/javascript"> 
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); 
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); 
</script> 
<script type="text/javascript"> try { var pageTracker = _gat._getTracker("UA-11647297-1"); pageTracker._trackPageview(); } catch(err) {}</script>
</html>
