{% for transit_app in apps %}
	<div class="app {% cycle 'odd' 'even' %}"> <a href="{% url apps_details transit_app_slug=transit_app.slug %}"><img src="{{transit_app.default_80sq_screen_shot_url}}" alt="Application Screen Shot" /></a>
		<h5><a href="{% url apps_details transit_app_slug=transit_app.slug %}">{{transit_app.title}}</a></h5>
		<label>By {{transit_app.author_name}}</label>
		<div class="rating"><div style="width:{{transit_app.average_rating_out_of_80}}px;"></div><p>({{transit_app.rating_count}} ratings)</p></div>
		<label>Platforms: {% for i in transit_app.platforms %}{% if not forloop.first %}, {% endif %}{{ i }}{% endfor %}</label>
		<p>{% if transit_app.is_featured %}<img class="featured" src="{% static_url /images/editors-choice3.gif %}" />{% endif %}{{transit_app.description}}</p>
	</div>
	{% cycle '' '<br class="clear-all" />' %}
{% endfor %}