{% for transit_app in apps %}
	<div class="app {% cycle 'odd' 'even' %}"> <a href="{% url apps_details transit_app_slug=transit_app.slug %}"><img src="{{transit_app.screen_shot_url}}" alt="Application Screen Shot" /></a>
		<h5><a href="{% url apps_details transit_app_slug=transit_app.slug %}">{{transit_app.title}}</a></h5>
		<label>By {{transit_app.author_name}}</label>
		<p>{{transit_app.description}}<br />
            <span>average rating {{transit_app.average_rating}}<br />
            sort value {{transit_app.bayesian_average}}</span>
        </p>
	</div>
{% endfor %}