<div id="feat">    
    <h4>Featured Apps</h4>
    <div id="feat-bigprev" class="prevPage browse left"></div>  
    <div id="feat-bignext" class="nextPage browse right"></div> 
    
      
    <div id="feat-controls">
        <div id="feat-controls-prev" class="prevPage browse left"></div>
        <div id="jumplinks">
            <!-- loop here for jump control links -->
            {% for transit_app in featured_apps %}
                <a href="{{forloop.counter}}"></a>
            {% endfor %}
            
        </div>
        <div id="feat-controls-next" class="nextPage browse right"></div>
         
    </div>  
    <a id="view-all" href="{% url apps_gallery %}">View all {{transit_app_count}} apps</a>
    <div id="flowpanes"> 
    <!-- wrapper for scrollable items --> 
        <div class="items"> 
     
            <!-- the items --> <!-- loop here to enter apps -->
            {% for transit_app in featured_apps %}
            <div>
                <a href="{% url apps_details transit_app_slug=transit_app.slug %}"><img src="{{transit_app.default_180sq_screen_shot_url}}"></a>
                <h4><a href="{% url apps_details transit_app_slug=transit_app.slug %}">{{transit_app.title}}</a></h4>
                <p>{{transit_app.description}}</p>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>