<div id="feat">    
    <h3>Featured Apps</h3>
    <div id="feat-bigprev" class="prevPage browse left"></div>  
    <div id="feat-bignext" class="nextPage browse right"></div> 
    
      
    <div id="feat-controls">
    
    	<div class="navi"></div>
    
    	<div id="feat-controls-prev" class="prevPage browse left"></div>
    	<div id="jumplinks">
    		<!-- loop here for jump control links -->
    		<a href="0"></a>
    		<a href="1"></a>
    		<a href="2"></a>
    		<a href="3"></a>
    		
    	</div>	
    	<div id="feat-controls-next" class="nextPage browse right"></div>	
    </div>  
    <a id="view-all" href="{% url apps_gallery %}">View all {{transit_app_count}} apps</a>
    <div id="flowpanes"> 
    <!-- wrapper for scrollable items --> 
        <div class="items"> 
     
            <!-- the items --> <!-- loop here to enter apps -->
        	<div>
        		<a href=""><img src="{% static_url /images/appthumbs/app-1-large.png %}"></a>
        		<h4><a href="">SEA Bus Map</a></h4>
        		<p>So, really, where is the bus?  You won't wonder long if you have SEA bus map</p>
        	</div>

        	<div>
        		<a href=""><img src="{% static_url /images/appthumbs/app-1-large.png %}"></a>
        		<h4><a href="">SEA Bus Map</a></h4>
        		<p>So, really, where is the bus?  You won't wonder long if you have SEA bus map</p>
        	</div>

        	<div>
        		<a href=""><img src="{% static_url /images/appthumbs/app-1-large.png %}"></a>
        		<h4><a href="">SEA Bus Map</a></h4>
        		<p>So, really, where is the bus?  You won't wonder long if you have SEA bus map</p>
        	</div>

        	<div>
        		<a href=""><img src="{% static_url /images/appthumbs/app-1-large.png %}"></a>
        		<h4><a href="">SEA Bus Map</a></h4>
        		<p>So, really, where is the bus?  You won't wonder long if you have SEA bus map</p>
        	</div>
        </div>
    </div>
</div>
