<div id="petition-form">
<form action="http://frontseat.createsend.com/t/y/s/hrjkul/" method="POST">
  <table>
  <tbody><tr><th><label for="id_name">Name:</label></th><td><input id="id_name" name="cm-name" maxlength="128" type="text"></td></tr>
    <tr><th><label for="id_email">Email:</label></th><td><input name="cm-hrjkul-hrjkul" id="id_email" type="text"></td></tr>
    <tr><th><label for="id_city">City:</label></th><td><input id="id_city" name="cm-f-juuttt" maxlength="64" type="text"></td></tr>
    <tr><th><label for="id_state">State:</label></th><td><input id="id_state" name="cm-f-juutti" maxlength="16" type="text"></td></tr>
    <tr><th><label for="id_country">Country:</label></th><td><input id="id_country" name="cm-f-juuttd" maxlength="16" type="text"></td></tr>
  </tbody></table>
  <input class="button" type="image" src="{% static_url /images/button-support-open-transit-data.gif %}" value="I Support Public Data"></input>
</form>
</div>
