<ul class="agency-list">
<li class="even">

    <h5 class="agency_title"><a href="agencies/us/ca/weaverville/trinity-transit">Trinity Transit</a></h5>
      <span>added: Dec. 2, 2009</span></p>
  </li>
  
  <li class="odd">

    <h5 class="agency_title"><a href="agencies/us/or/hood-river/columbia-area-transit">Columbia Area Transit</a></h5>
      <span>added: Dec. 2, 2009</span></p>

  </li>
  
  <li class="even">
    <h5 class="agency_title"><a href="agencies/ca/bc/vancouver/translink">TransLink</a></h5>
      <span>added: Nov. 29, 2009</span></p>
  </li>
</ul>
