    
<script type="text/javascript">
//<![CDATA[
    
    var search_url = "http://search.twitter.com/search.json?q=%22Walk+Score%22+OR+walkscore+OR+walkscore.com+OR+www.walkscore.com";
    
    function mil_to_standard(mil){
        try{
            var ix = mil.indexOf(':');
            var date_created = mil.slice(0,ix-3);
            var time = mil.slice(ix-2,ix+3);
            var hour = parseInt(time.slice(0,2))
            var ap = 'am';
            if (hour > 12){ap = 'pm';}
            if (hour > 12) { 
                hour = (hour-2) + '';
                if (hour >= 20){
                    hour = '1' + hour.charAt(1);
                    }
                else 
                    hour = hour.charAt(1);
                }
            if (hour == 0) {hour = 12;}
            return date_created + ' ' + hour + time.slice(2,5) + ap;
            }
        catch(e){return}
        }
        
    function react_to_twitter( data ) {
      for(i=0; i<data.results.length; i++) {
        if (i < 4) {
            var result = data.results[i];
            $("#tweet-viewer").append(
                '<div class="tweet"><a href="http://twitter.com/' + result.from_user + '">' + 
                '<img src="' + result.profile_image_url + '" style="width:50px; height:50px;" alt="profile image for twitter user" />' +
                '</a><div><blockquote><cite>@' + result.from_user +
                ' said:</cite> &#8220;' + result.text + '&#8221;</blockquote><label>' + mil_to_standard(result.created_at) + '</label></div></div>')
            }
        }
      }
    
     $(document).ready(function(){
      $.getJSON(search_url, react_to_twitter);
     });

//]]>
</script>

<div id="tweet-viewer">	    
</div>
