{% extends 'base.html' %}

{% block title %}About City-Go-Round{% endblock %}

{% block content %}
<div class="body-content">
  
<h2>About City-Go-Round</h2> 
  
<p>City-Go-Round helps you find useful transit applications (apps) near you. City-Go-Round also encourages public transit agencies to open  their data to software developers.</p> 
<p>For news updates, <a href="http://twitter.com/citygoround" target="_blank">follow us on Twitter</a> or <a href="http://www.facebook.com/pages/City-Go-Round/179590999311?ref=search&amp;sid=1009098.1817192122..1" target="_blank">friend us on Facebook</a>. </p> 
<p>Read our <a href="http://www.frontseat.org/media/first-searchable-directory-of-transit-apps.pdf" target="_blank">launch press release</a>. </p> 
<p><strong>Frequently Asked Questions :</strong><br> 
    <a href="#0.1_point">What is City-Go-Round&#39;s mission?</a><br> 
    <a href="#0.1_justpublictransit">Is this just for public transit apps? </a><br> 
    <a href="#0.1_opendata">What is open data and why does open data matter?</a><br> 
    <a href="#0.1_providedata">How do you know which transit agencies provide data? </a><br> 
    <a href="#0.1_whobuilt">Who built this site?</a><br>
    <a href="#0.1_agency">Transit agencies: how do I get off the &quot;No Public Data&quot; list?</a> 
</p> 
<h3><a name="0.1_point"></a>What is City-Go-Round&#39;s mission?</h3> 
<p>Our mission is to help make public transit more convenient.  For example, an app that lets you know when your bus will arrive is way better than standing outside waiting for 20 minutes.</p> 
<p>If we can make public transit more convenient, more people will ride public transit. More people riding public transit equals less driving. Less driving equals a healthier planet. </p> 
<h3><a name="0.1_justpublictransit"></a>Is this just for public transit apps?</h3> 
<p>Initially, we&#39;re focusing on public transit but we welcome any transportation related app on City-Go-Round. </p> 
<a href="http://manyeyes.alphaworks.ibm.com/manyeyes/visualizations/public-transit-agency-data-availab"><img src="/images/about_visualization.gif" border="0" align="right" style="margin-top:15px;"></a>
<h3><a name="0.1_opendata"></a>What is open data and why does open data matter? </h3> 
<p>Open data (also referred to as public data) is data that&#39;s made available to software programmers. Open transit data on this site is defined as transit schedule data made publicly available in the GTFS format by transit agencies. </p> 
<p>Lack of open data is the biggest barrier to software innovation. One of City-Go-Round&#39;s goals is  to make all public transit data <strong>public</strong>. To do this, we show the benefit of providing open data (innovative apps built on top of that data) and also provide a list of agencies who haven&#39;t yet opened their data.</p> 
<h3><a name="0.1_providedata"></a>How do you know which transit agencies provide data? </h3> 
<p>We retrieve the list of agencies that provide public  data in the GTFS format from the <a href="http://www.gtfs-data-exchange.com/" target="_blank">GTFS Data Exchange</a>. We match these agencies against our master list of transit agencies that was compiled from the <a href="http://www.ntdprogram.gov/ntdprogram/" target="_blank">National Transportation Database</a>. This enables us to show you which agencies do and don&#39;t provide public data. </p> 
<h3><a name="0.1_whobuilt"></a>Who built this site?</h3> 
<p>City-Go-Round was started by <a href="http://www.frontseat.org/" target="_blank">Front Seat</a> and members of the <a href="http://groups.google.com/group/transit-developers" target="_blank">Transit Developers Group</a>. </p> 
<p>City-Go-Round is open source. <a href="http://github.com/bmander/opentransitdata" target="_blank">Help us make it better</a>. </p> 
<h3><a name="0.1_agency"></a>Transit agencies: how do I get off the &quot;No Public Data&quot; list?</h3> 
<p>Once you have your schedule data in <a href="http://code.google.com/transit/spec/transit_feed_specification.html" target="_blank">GTFS</a> format, it&#39;s easy. First, email <a href="mailto:googletransitdatafeed@googlegroups.com" target="_blank">googletransitdatafeed@<WBR>googlegroups.com</a> with the location of your feed. Second, <a href="http://www.gtfs-data-exchange.com/upload" target="_blank">upload your feed to GTFS Data Exchange</a>. </p> 
<p>Once your feed is available on GTFS Data Exchange, City-Go-Round will retrieve your feed within 24 hours and show that your agency provides public data.</p><p> </p> 

</div>
{% endblock %}


