{% extends 'base.html' %}

{% block title %}About City-Go-Round{% endblock %}

{% block content %}
<div class="col-group app-gallery body-content">
<h2>About City-Go-Round</h2>

<p>City-Go-Round helps you find useful transit applications (apps) near you. City-Go-Round also encourages public transit agencies to open  their data to software developers.</p>
<p>For news updates, <a href="http://twitter.com/walkscore/" target="_blank">follow us on Twitter</a> or <a href="http://www.facebook.com/walkscore" target="_blank">friend us on Facebook</a>. </p>
<p>Read our <a href="http://www.frontseat.org/media/first-searchable-directory-of-transit-apps.pdf" target="_blank">launch press release</a>. </p>
<p><strong>Frequently Asked Questions :</strong><br />
    <a href="#0.1_point">What is City-Go-Round&#39;s mission?</a><br />
    <a href="#0.1_justpublictransit">Is this just for public transit apps? </a><br />
    <a href="#0.1_opendata">What is open data and why does open data matter?</a><br />
    <a href="#0.1_providedata">How do you know which transit agencies provide open data? </a><br />
    <a href="#0.1_whobuilt">Who built this site?</a><br />
    <a href="#0.1_agency">Transit agencies: how do I get off the &quot;No Open Data&quot; list?</a>
</p>
<h4><a name="0.1_point"></a>What is City-Go-Round&#39;s mission?</h4>
<p>Our mission is to help make public transit more convenient.  For example, an app that lets you know when your bus will arrive is way better than standing outside waiting for 20 minutes.</p>
<p>If we can make public transit more convenient, more people will ride public transit. More people riding public transit equals less driving. Less driving equals a healthier planet. </p>
<p>City-Go-Round is supported by a grant from:<br />
<a target="_blank" href="http://www.rockfound.org"><img style="margin-top: 10px;" src="/images/rockefeller-logo.gif" alt="The Rockefeller Foundation" /></a></p>
<h4><a name="0.1_justpublictransit"></a>Is this just for public transit apps?</h4>
<p>Initially, we&#39;re focusing on public transit but we welcome any transportation related app on City-Go-Round. </p>
<a href="http://manyeyes.alphaworks.ibm.com/manyeyes/visualizations/transit-system-openness-by-size-2"><img src="/images/about_visualization.gif" border="0" alt="about visualization" align="right" style="margin-top:15px;" /></a>
<h4><a name="0.1_opendata"></a>What is open data and why does open data matter? </h4>
<p>Open data (also referred to as public data) is data that&#39;s made available to software programmers. Open transit data on this site is defined as transit schedule data made publicly available in the GTFS format by transit agencies. </p>
<p>Lack of open data is the biggest barrier to software innovation. One of City-Go-Round&#39;s goals is  to make all public transit data <strong>public</strong>. To do this, we show the benefit of providing open data (innovative apps built on top of that data) and also provide a list of agencies who haven&#39;t yet opened their data.</p>
<h4><a name="0.1_providedata"></a>How do you know which transit agencies provide data? </h4>
<p>We retrieve the list of agencies that provide public  data in the GTFS format from the <a href="http://www.gtfs-data-exchange.com/" target="_blank">GTFS Data Exchange</a>. We match these agencies against our master list of transit agencies that was compiled from the <a href="http://www.ntdprogram.gov/ntdprogram/" target="_blank">National Transportation Database</a>. This enables us to show you which agencies do and don&#39;t provide open data. </p>
<h4><a name="0.1_whobuilt"></a>Who built this site?</h4>
<p>City-Go-Round was started by <a href="http://www.walkscore.com/" target="_blank">Walk Score</a> and members of the <a href="http://groups.google.com/group/transit-developers" target="_blank">Transit Developers Group</a>. City-Go-Round is supported by a grant from the <a target="_blank" href="http://www.rockfound.org">Rockefeller Foundation</a>.</p>
<h4><a name="0.1_agency"></a>Transit agencies: how do I get off the &quot;No Open Data&quot; list?</h4>
<p>To qualify as having open data, your agency must:</p>
<ol>
<li><p>1) Publish your schedule data as a <a target="_blank" href="http://code.google.com/transit/spec/transit_feed_specification.html">GTFS feed</a>. Google publishes <a target="_blank" href="http://maps.google.com/help/maps/transit/partners/participate.html">instructions</a> on how to create GTFS feeds.</li></p>
<li><p>2) Provide an official URL where your feed can be downloaded. This can be a URL on your agency site or a URL to a third-party authorized to host your feed. Note: a simple way to provide an official URL is to <a target="_blank" href="http://www.gtfs-data-exchange.com/submit-feed">upload your feed to GTFS Data Exchange</a> and use the URL they provide.</li></p>
<li><p>3) Send email to <a href="mailto:transit-developers@googlegroups.com">transit-developers@googlegroups.com</a> with the URL of your feed.  Note: this is a public mailing list.</li></p>
</ol>
</div>
<div class="wide-col rightmost">
	{% include "includes/mrec1.html" %}
</div>
{% endblock %}


