{% extends 'base.html' %}

{% block title %}About City-Go-Round{% endblock %}

{% block content %}
<div class="col-group app-gallery body-content">
<h2>About City-Go-Round</h2> 
  
<p>City-Go-Round helps you find useful transit applications (apps) near you. City-Go-Round also encourages public transit agencies to open  their data to software developers.</p> 
<p>For news updates, <a href="http://twitter.com/citygoround" target="_blank">follow us on Twitter</a> or <a href="http://www.facebook.com/pages/City-Go-Round/179590999311?ref=search&amp;sid=1009098.1817192122..1" target="_blank">friend us on Facebook</a>. </p> 
<p>Read our <a href="http://www.frontseat.org/media/first-searchable-directory-of-transit-apps.pdf" target="_blank">launch press release</a>. </p> 
<p><strong>Frequently Asked Questions :</strong><br> 
    <a href="#0.1_point">What is City-Go-Round&#39;s mission?</a><br> 
    <a href="#0.1_justpublictransit">Is this just for public transit apps? </a><br> 
    <a href="#0.1_opendata">What is open data and why does open data matter?</a><br> 
    <a href="#0.1_providedata">How do you know which transit agencies provide open data? </a><br> 
    <a href="#0.1_whobuilt">Who built this site?</a><br>
    <a href="#0.1_agency">Transit agencies: how do I get off the &quot;No Open Data&quot; list?</a> 
</p> 
<h4><a name="0.1_point"></a>What is City-Go-Round&#39;s mission?</h4> 
<p>Our mission is to help make public transit more convenient.  For example, an app that lets you know when your bus will arrive is way better than standing outside waiting for 20 minutes.</p> 
<p>If we can make public transit more convenient, more people will ride public transit. More people riding public transit equals less driving. Less driving equals a healthier planet. </p> 
<h4><a name="0.1_justpublictransit"></a>Is this just for public transit apps?</h4> 
<p>Initially, we&#39;re focusing on public transit but we welcome any transportation related app on City-Go-Round. </p> 
<a href="http://manyeyes.alphaworks.ibm.com/manyeyes/visualizations/transit-system-openness-by-size-2"><img src="/images/about_visualization.gif" border="0" align="right" style="margin-top:15px;"></a>
<h4><a name="0.1_opendata"></a>What is open data and why does open data matter? </h4> 
<p>Open data (also referred to as public data) is data that&#39;s made available to software programmers. Open transit data on this site is defined as transit schedule data made publicly available in the GTFS format by transit agencies. </p> 
<p>Lack of open data is the biggest barrier to software innovation. One of City-Go-Round&#39;s goals is  to make all public transit data <strong>public</strong>. To do this, we show the benefit of providing open data (innovative apps built on top of that data) and also provide a list of agencies who haven&#39;t yet opened their data.</p> 
<h4><a name="0.1_providedata"></a>How do you know which transit agencies provide data? </h4> 
<p>We retrieve the list of agencies that provide public  data in the GTFS format from the <a href="http://www.gtfs-data-exchange.com/" target="_blank">GTFS Data Exchange</a>. We match these agencies against our master list of transit agencies that was compiled from the <a href="http://www.ntdprogram.gov/ntdprogram/" target="_blank">National Transportation Database</a>. This enables us to show you which agencies do and don&#39;t provide open data. </p> 
<h4><a name="0.1_whobuilt"></a>Who built this site?</h4> 
<p>City-Go-Round was started by <a href="http://www.frontseat.org/" target="_blank">Front Seat</a> and members of the <a href="http://groups.google.com/group/transit-developers" target="_blank">Transit Developers Group</a>. </p> 
<p>City-Go-Round is open source. <a href="http://github.com/bmander/opentransitdata" target="_blank">Help us make it better</a>. </p> 
<h4><a name="0.1_agency"></a>Transit agencies: how do I get off the &quot;No Open Data&quot; list?</h4> 
<p>Opening up your schedule data is easy. Just make your schedule feed, and then tell people about it.
  <h4>Create and publish your feed</h4>
  <p>First, format your data according to the simple and well-documented <a href="http://code.google.com/transit/spec/transit_feed_specification.html" target="_blank">GTFS</a> format. A <a href="http://code.google.com/p/googletransitdatafeed/">number of tools</a> exist to help creating GTFS feeds, including a Google-maintained <a href="http://code.google.com/p/googletransitdatafeed/wiki/TransitFeed">Python package</a>. Also, several established transit GIS systems such as the Trapeze system offer GTFS exporters.</p>
  <p>Then, place your feed in a publicly accessible accessible web or FTP folder. For example, <a href="http://www.bart.gov/schedules/developers/open.aspx">BART</a> has a whole page for their GTFS feed, while some agencies are <a href="http://www.ltd.org/googlepublic/">more spartan</a>. Make sure your web folder isn't password protected. If you need a password to reach it, it's not public.</p>
  <h4>Let the world know about your public feed</h4>
  <p>First, make a post to the <a href="http://groups.google.com/group/transit-developers">Transit Developers Group</a> to let the transit app developer community know that your data is now open. Going straight to the developers is the quickest way to spread the word on your new feed.</p>
  <p>Then, register your feed at the <a href="http://www.gtfs-data-exchange.com/">GTFS Data Exchange</a>. City-Go-Round uses GTFS Data Exchange as the authoratitive and updated registry of open transit feeds.</p>
  <p>Once your feed is available on GTFS Data Exchange, City-Go-Round will retrieve your feed within 24 hours and show that your agency provides open data.</p>

</div>
<div class="wide-col rightmost">
	{% include "includes/mrec1.html" %}
</div>
{% endblock %}


