{% extends 'base.html' %}

{% block title %}{{agency}} on CityGoRound.org{% endblock %}

{% block content %}

<a href="/agencies/edit/{{agency.key.id}}">edit</a><br>
ntd_id: {{agency.ntd_id}}<br>
long name: {{agency.name}}<br>
short name: {{agency.short_name}}<br>
web page: <a href="{{agency.agency_url}}">{{agency.agency_url}}</a><br>
service_area_population: {{agency.service_area_population}}<br>
passenger_miles: {{agency.passenger_miles}}<br>
gtfs_data_exchange_id: {{agency.gtfs_data_exchange_id}}<br>
<h3>feeds</h3>
opened {{agency.date_opened}}<br>
{% for feed in feeds %}
{{ feed.dataexchange_url }} [{% if feed.is_official %}official{% else %}unofficial{%endif%}]<br>
{% endfor %}
<h3>apps</h3>
<br>
<h3>map</h3>
    
{% endblock %}
