{% extends 'base.html' %}

{% block title %}{{location}} transit agencies on City-Go-Round{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/js/jquery.tablesorter.pager.js"></script>
<link rel="stylesheet" type="text/css" href="{% static_url /css/tablesort.css %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static_url /css/tablesort.pager.css %}" media="screen" />

{% endblock%}

{% block content %}
<script type="text/javascript">

var agency_count = {{agency_count}}; 
function update_filters(){
    var pd = jQuery("#public_filter option:selected").val();
    var location = jQuery("#location_filter option:selected").val();
    window.location.replace(location + '?public=' + pd)
    }

$(document).ready(function() { 
    //make sure public dropdown selected appropriately
    var po = getUrlParam('public');
    jQuery("#public_filter option[value=" + po + "]").attr('selected','selected')

    if (agency_count > 50){
        jQuery("#agency_list")
        .tablesorter()
        .tablesorterPager({container : $('#pager'), size:40}); 
        }
    else {
        jQuery("#agency_list")
        .tablesorter()
        jQuery('#pager')[0].style.display='none';
        }
    }); 
   

</script>

<div class="blue_background">
<h2>All {{location|upper}} Transit Agencies
{% ifequal public_filter 'public' %} with Public Data 
{% else %} {% ifequal public_filter 'no_public' %} without Public Data 
{% endifequal %}{% endifequal %}
</h2>
</div>
<br>
<span class="italic">
    Transit agencies in {% ifequal location "us" %}the {%endifequal %}{{location|upper}}: <b>{{agency_count}}</b>
    Agencies with public data: <span class="green"> <b>{{public_count}}</b></span>.
    Agencies with no public data: <span class="red"> <b>{{no_public_count}}</b></span>.
</span>
<br>
<select id="public_filter" name="public_filter" onchange="update_filters();">
   <option value="all">All Agencies</option>
   <option value="public">With Public Data</option>
   <option value="no_public">Without Public Data</option>
</select>

<select id="location_filter" name="location_filter" onchange="update_filters()">
   <option value="/agencies/us/">All States
  {% for s in states %}
   <option value="/agencies/us/{{s}}"{% ifequal location s %} selected {% endifequal %}>{{s|upper}}
  {% endfor %}
</select>


<table id="agency_list"> 
<thead> 
<tr> 
    <th>Name</th> 
    <th>Public</th>
    <th>Date Added</th>
    <th>City</th> 
    <th>State</th> 
    <th>Director</th> 
    <th>Twitter</th> 
    <th>Agency URL</th> 
</tr> 
</thead> 
<tbody> 
{% for a in agencies %}
{% if a.hide %}{% else %}
<tr class="{% if a.date_opened %}agency_public{% else %}agency_no_public {%endif %}"> 
    <td><a href="/agencies/{{a.urlslug}}">{{a.name}}</a></a></td> 
    <td>{% if a.date_opened %}Yes{% else %}No{% endif %}</td>
    <td>{% if a.date_opened %}{{a.date_opened_formatted|date:"N Y"}}{% endif %}</td>
    <td>{{a.city}}</td> 
    <td>{{a.state}}</td> 
    <td>{{a.executive}}</td> 
    <td>{{a.twitter}}</td> 
    <td><a href="{{a.agency_url}}" target="_blank">{{a.agency_url}}</a></td> 
</tr> 
{% endif %}
{% endfor %}
</tbody> 
</table>

<div id="pager" class="pager">
    <form>
        <img src="/images/tablesort/pager/first.png" class="first"/>
        <img src="/images/tablesort/pager/prev.png" class="prev"/>
        <input type="text" class="pagedisplay"/>
        <img src="/images/tablesort/pager/next.png" class="next"/>
        <img src="/images/tablesort/pager/last.png" class="last"/>
        <select class="pagesize">

            <option value="25">25</option>
            <option selected="selected"  value="50">50</option>
            <option  value="100">100</option>
            <option  value="200">200</option>
            <option  value="500">500</option>
        </select>
    </form>
</div>
<br><br><br>


{% endblock %}
