{% extends 'base.html' %}

{% block title %}{{agency}} on City-Go-Round{% endblock %}

{% block content %}

<div id="agency-details" class="body-content col-group">    
    
    <h2>{{agency.name}} {% if agency.short_name %}({{agency.short_name}}){% endif %}</h2>
    
    {% if agency.date_opened %}
        <h4 class="green">Provides open data</h4>
    {% else %}
        <h4 class="red">Does not provide open data</h4>
    {% endif %}
    
    {% if agency.contact_email %}
        <!--div class="action-links">
            <div class="button-email">
                <p><a href="mailto:{{agency.contact_email}}" title="Send mail to {{agency.short_name}}" onclick='trackEvent("agency details", "send email", "{{agency.short_name}}"})'>Send email</a></p>
            </div>
            {% if agency.twitter %}
                <div class="button-twitter">
                <p><a href="http://twitter.com/{{agency.twitter}}" title="See {{agency.short_name}} on Twitter" onclick='trackNavigationNewWindow("http://twitter.com/{{agency.twitter}}", "agency details", "twitter link", "{{agency.short_name}}"); return false;'>On Twitter</a></p>
                </div>
            {% endif %}
        </div-->
    {% endif %}
    
    {% if agency.agency_url %}
        <div>
            <label>Agency URL:</label>
            <p><a href="{{agency.agency_url}}" target="_blank">{{agency.agency_url}}</a></p>
        </div>
    {% endif %}
    
    {% if agency.executive %}
        <div>
            <label>Director:</label>
            <p>{{agency.executive}}</p>
        </div>  
    {% endif %} 
        
    {% if agency.date_opened %}
    {% else %}
        <div id="petition" class="body-content thinline">
    		<div class="boxed-content">
                <h2>Support Open Data</h2>
                <div class="narrow-col">
                    {% include "includes/petition-text.html" %}
                    {% include "includes/petition-disclaimer.html" %}
                </div>
                <div class="narrow-col rightmost">
                    {% include "includes/petition-form.html" %}
                </div>
            </div>
        </div>

    {% endif %}
    
</div> 

<div class="wide-col rightmost">
	{% include "includes/mrec1.html" %}
</div>

        

{% endblock %}
