{% extends 'base.html' %}

{% block title %}{{agency}} on City-Go-Round{% endblock %}

{% block content %}

{% if agency.date_opened %}
<div class="big_green">Provides Open Data</div>
{{ agency.name }} ({{agency.short_name}}) provides open data.<br>
{% else %}
<div class="big_red">No Open Data</div>
{{ agency.name }} ({{agency.short_name}}) does not make their data public.<br>
{{ agency.city }} residents can't take advantage of our <a href="/apps">transit app gallery</a>.


{% endif %}


<p>
<b>Agency URL</b>: <a href="{{a.agency_url}}" target="_blank">{{a.agency_url}}</a> 
<b>Director</b>:{{agency.executive}}<br>
<a href="mailto:{{agency.contact_email}}">Send Email</a> 
{% if agency.twitter %}<a href="agency.twitter">Twitter</a>{% endif %}
<br>

{% if agency.date_opened %}{% if apps %}
    <h3> Transit Apps for this agency</h3>
    {% for app in app %}
        {{app}}
    {% endfor %}
{% endif %}{% endif %}

    
{% endblock %}
