{% extends 'base.html' %}

{% block title %}{{location}} transit agencies on City-Go-Round{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/js/jquery.tablesorter.pager.js"></script>
<link rel="stylesheet" type="text/css" href="{% static_url /css/tablesort.css %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static_url /css/tablesort.pager.css %}" media="screen" />

{% endblock%}

{% block content %}
<script type="text/javascript">

$(document).ready(function() 
    { 
        $("#agency_list")
        .tablesorter()
        .tablesorterPager({container : $('#pager'), size:40}); 
    } 
); 
   
</script>

<div class="blue_background">All {{location|upper}} Transit Agencies</div>
<br>
<span class="italic">
    {{agency_count}} transit agencies in the {{location}}.
    <span class="green"> {{public_count}} have public data.  </span>
    <span class="red"> {{no_public_count}} do not. </span>
    </span>

<select name="public_filter">
   <option value="all">Public Data</option>
   <option value="public">Has Public Data</option>
   <option value="no_public">No Public Data</option>
</select>

<select name="location_filter" onchange="window.location.replace(this.value)">
   <option value="/agencies/us/">All States
  {% for s in states %}
   <option value="/agencies/us/{{s}}"{% ifequal location s %} selected {% endifequal %}>{{s|upper}}
  {% endfor %}
</select>


<table id="agency_list"> 
<thead> 
<tr> 
    <th>Name</th> 
    <th>Public</th>
    <th>Date Added</th>
    <th>City</th> 
    <th>State</th> 
    <th>Director</th> 
    <th>Twitter</th> 
    <th>Agency URL</th> 
</tr> 
</thead> 
<tbody> 
{% for a in agencies %}
<tr class="{% if a.date_opened %}agency_public{% else %}agency_no_public {%endif %}"> 
    <td><a href="/agencies/{{a.urlslug}}">{{a.name}}</a></a></td> 
    <td>{% if a.date_opened %}Yes{% else %}No{% endif %}</td>
    <td>{% if a.date_opened %}{{a.date_opened_formatted|date:"N Y"}}{% endif %}</td>
    <td>{{a.city}}</td> 
    <td>{{a.state}}</td> 
    <td>{{a.executive}}</td> 
    <td>{{a.twitter}}</td> 
    <td><a href="{{a.agency_url}}" target="_blank">{{a.agency_url}}</a></td> 
</tr> 
{% endfor %}
</tbody> 
</table>

<div id="pager" class="pager">
    <form>
        <img src="/images/tablesort/pager/first.png" class="first"/>
        <img src="/images/tablesort/pager/prev.png" class="prev"/>
        <input type="text" class="pagedisplay"/>
        <img src="/images/tablesort/pager/next.png" class="next"/>
        <img src="/images/tablesort/pager/last.png" class="last"/>
        <select class="pagesize">

            <option value="25">25</option>
            <option selected="selected"  value="50">50</option>
            <option  value="100">100</option>
            <option  value="200">200</option>
            <option  value="500">500</option>
        </select>
    </form>
</div>
<br><br><br>


{% endblock %}
