<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<title>{% block title %}City-Go-Round - A searchable directory of transit apps and public transit agencies{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static_url /css/main.css %}" media="screen" />
<!--[if IE]>
	<link rel="stylesheet" type="text/css" href="{% static_url /css/ie.css %}" />
<![endif]-->
<script type="text/javascript" src="http://www.google.com/jsapi?key={{GOOGLE_API_KEY}}"></script>
{% include "includes/jquery_scripts.html" %}
{% block headscripts %}
{% endblock %}

<script type="text/javascript">
//<![CDATA[
    function url_for_search(search_term)
    {
        return "{% url apps_nearby %}?q=" + search_term
    }

    function goto_search()
    {
        var search_term = jQuery('#location_query').val();
        var url = url_for_search(search_term);
        document.location = url;
        return false;
    }
//]]>
</script>
{% block extra_head %}{% endblock %}

<script type='text/javascript' src='http://partner.googleadservices.com/gampad/google_service.js'>
</script>
<script type='text/javascript'>
GS_googleAddAdSenseService("ca-pub-0760627883975840");
GS_googleEnableAllServices();
</script>
<script type='text/javascript'>
GA_googleAddSlot("ca-pub-0760627883975840", "CGR_ATF_TopMREC_300x250");
GA_googleAddSlot("ca-pub-0760627883975840", "CGR_ATF_BottomMREC_300x250");
GA_googleAddAdSenseSlotAttr("CGR_ATF_TopMREC_300x250", "google_ad_channel", "1773350105");
GA_googleAddAdSenseSlotAttr("CGR_ATF_BottomMREC_300x250", "google_ad_channel", "7966081123");
</script>
<script type='text/javascript'>
GA_googleFetchAds();
</script>

</head>
<body>
<div id="header">
  {% block header %}
    <h1 onclick="document.location='{% url home %}'">City-Go-Round</h1>
    <h2>Apps that help you get around</h2>
    <a id="front-seat-logo" href="https://www.walkscore.com"><img src="{% static_url /images/walk-score-logo.png %}" alt="Walk Score Logo" /></a>
    <p id="nav">
        <a href="{% url apps_gallery %}">Apps</a> &nbsp; | &nbsp;
        <a href="{% url agencies %}">Agencies</a> &nbsp; | &nbsp;
        <a href="{% url about %}">About</a> &nbsp; | &nbsp;
        <a href="https://www.walkscore.com/cities-and-neighborhoods/">Transit Score</a>
    </p>
    <div class="hover-buttons">
      <div class="clickable2 button-twitter" onclick='trackNavigationNewWindow("http://twitter.com/walkscore/", "header", "follow us", "twitter")'>
        <p>Follow us</p>
      </div>
      <div class="clickable2 button-facebook" onclick='trackNavigationNewWindow("http://www.facebook.com/walkscore", "header", "follow us", "facebook")'>
        <p>Friend us</p>
      </div>
    </div>
  {% endblock %}
</div>
<div id="lede">
    {% block lede %}
    <form onsubmit="goto_search(); return false;" action="">
        <label>Find apps near me:</label>
        <input id="location_query" name="location_query" type="text" value="{% block location_query %}Type a city or ZIP{% endblock %}" />
        <input id="search" name="search" type="image" src="{% static_url /images/search-button.gif %}" />
    </form>
  {% endblock %}
</div>
<div id="outer-wrapper">
    {% block content %}
    {% endblock %}
</div>
<div id="footer">
  <div class="root-container clearfix">
    <div class="cities clearfix">
      <div id="popular_cities"{% if show_redfin_links %} class="full_width" {% endif %}>
        <h5>Popular Cities</h5>
        {% if show_redfin_links %}
        <div class="one_third_col">
          <ul class="textlist">
            <li><a href="https://www.redfin.com/city/250/VA/Alexandria" target="_blank">Alexandria Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/30756/GA/Atlanta" target="_blank">Atlanta Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/30818/TX/Austin" target="_blank">Austin Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/1073/MD/Baltimore" target="_blank">Baltimore Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/1387/WA/Bellevue" target="_blank">Bellevue Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/1826/MA/Boston" target="_blank">Boston Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/3105/NC/Charlotte" target="_blank">Charlotte Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/29470/IL/Chicago" target="_blank">Chicago Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/30794/TX/Dallas" target="_blank">Dallas Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/5155/CO/Denver" target="_blank">Denver Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/6173/FL/Fort-Lauderdale" target="_blank">Fort Lauderdale Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/30827/TX/Fort-Worth" target="_blank">Fort Worth Homes for Sale</a></li>
          </ul>
        </div>
        <div class="one_third_col">
          <ul class="textlist">
            <li><a href="https://www.redfin.com/city/8903/TX/Houston" target="_blank">Houston Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/9361/CA/Irvine" target="_blank">Irvine Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/9148/WA/Kirkland" target="_blank">Kirkland Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/10201/NV/Las-Vegas" target="_blank">Las Vegas Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/11203/CA/Los-Angeles" target="_blank">Los Angeles Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/11458/FL/Miami" target="_blank">Miami Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/10943/MN/Minneapolis" target="_blank">Minneapolis Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/13654/CA/Oakland" target="_blank">Oakland Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/13655/FL/Orlando" target="_blank">Orlando Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/15502/PA/Philadelphia" target="_blank">Philadelphia Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/14240/AZ/Phoenix" target="_blank">Phoenix Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/30772/OR/Portland" target="_blank">Portland Homes for Sale</a></li>
          </ul>
        </div>
        <div class="one_third_col">
          <ul class="textlist">
            <li><a href="https://www.redfin.com/city/35711/NC/Raleigh" target="_blank">Raleigh Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/14913/WA/Redmond" target="_blank">Redmond Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/16409/CA/Sacramento" target="_blank">Sacramento Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/16657/TX/San-Antonio" target="_blank">San Antonio Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/16904/CA/San-Diego" target="_blank">San Diego Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/17151/CA/San-Francisco" target="_blank">San Francisco Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/17420/CA/San-Jose" target="_blank">San Jose Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/16660/AZ/Scottsdale" target="_blank">Scottsdale Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/16163/WA/Seattle" target="_blank">Seattle Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/18142/FL/Tampa" target="_blank">Tampa Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/12839/DC/Washington-DC" target="_blank">Washington D.C. Homes for Sale</a></li>
            <li><a href="https://www.redfin.com/city/20373/NY/White-Plains" target="_blank">White Plains Homes for Sale</a></li>
          </ul>
        </div>
        {% else %}
        <div class="left-half">
          <ul class="textlist">
            <li><a href="https://www.walkscore.com/NY/New_York">New York Apartments</a></li>
            <li><a href="https://www.walkscore.com/CA/San_Francisco">San Francisco Apartments</a></li>
            <li><a href="https://www.walkscore.com/MA/Boston">Boston Apartments</a></li>
            <li><a href="https://www.walkscore.com/IL/Chicago">Chicago Apartments</a></li>
            <li><a href="https://www.walkscore.com/PA/Philadelphia">Philadelphia Apartments</a></li>
            <li><a href="https://www.walkscore.com/WA/Seattle">Seattle Apartments</a></li>
            <li><a href="https://www.walkscore.com/DC/Washington_D.C.">Washington D.C. Apartments</a></li>
            <li><a href="https://www.walkscore.com/FL/Miami">Miami Apartments</a></li>
            <li><a href="https://www.walkscore.com/MN/Minneapolis">Minneapolis Apartments</a></li>
            <li><a href="https://www.walkscore.com/CA/Oakland">Oakland Apartments</a></li>
            <li><a href="https://www.walkscore.com/CA/Long_Beach">Long Beach Apartments</a></li>
            <li><a href="https://www.walkscore.com/OR/Portland">Portland Apartments</a></li>
            <li><a href="https://www.walkscore.com/CA/Los_Angeles">Los Angeles Apartments</a></li>
            <li><a href="https://www.walkscore.com/MD/Baltimore">Baltimore Apartments</a></li>
            <li><a href="https://www.walkscore.com/WI/Milwaukee">Milwaukee Apartments</a></li>
          </ul>
        </div>
        <div class="right-half">
          <ul class="textlist">
            <li><a href="https://www.walkscore.com/CO/Denver">Denver Apartments</a></li>
            <li><a href="https://www.walkscore.com/OH/Cleveland">Cleveland Apartments</a></li>
            <li><a href="https://www.walkscore.com/CA/San_Diego">San Diego Apartments</a></li>
            <li><a href="https://www.walkscore.com/CA/San_Jose">San Jose Apartments</a></li>
            <li><a href="https://www.walkscore.com/GA/Atlanta">Atlanta Apartments</a></li>
            <li><a href="https://www.walkscore.com/NE/Omaha">Omaha Apartments</a></li>
            <li><a href="https://www.walkscore.com/MI/Detroit">Detroit Apartments</a></li>
            <li><a href="https://www.walkscore.com/TX/Houston">Houston Apartments</a></li>
            <li><a href="https://www.walkscore.com/CA/Sacramento">Sacramento Apartments</a></li>
            <li><a href="https://www.walkscore.com/NV/Las_Vegas">Las Vegas Apartments</a></li>
            <li><a href="https://www.walkscore.com/CA/Fresno">Fresno Apartments</a></li>
            <li><a href="https://www.walkscore.com/AZ/Tucson">Tucson Apartments</a></li>
            <li><a href="https://www.walkscore.com/NM/Albuquerque">Albuquerque Apartments</a></li>
            <li><a href="https://www.walkscore.com/OH/Columbus">Columbus Apartments</a></li>
            <li><a href="https://www.walkscore.com/TX/Dallas">Dallas Apartments</a></li>
          </ul>
        </div>
        {% endif %}
      </div><!-- //halves -->
      {% if not show_redfin_links %}
      <div id="walkable_hoods">
        <h5>Walkable Neighborhoods</h5>
        <div class="left-half">
          <ul class="textlist">
            <li><a href="https://www.walkscore.com/NY/New_York/Greenwich_Village">Greenwich Village, NYC Apartments</a></li>
            <li><a href="https://www.walkscore.com/NY/New_York/Upper_West_Side">Upper West Side, NYC Apartments</a></li>
            <li><a href="https://www.walkscore.com/NY/New_York/Williamsburg">Williamsburg, Brooklyn Apartments</a></li>
            <li><a href="https://www.walkscore.com/NY/New_York/Park_Slope">Park Slope, Brooklyn Apartments</a></li>
            <li><a href="https://www.walkscore.com/CA/San_Francisco/Mission">The Mission, SF Apartments</a></li>
            <li><a href="https://www.walkscore.com/CA/San_Francisco/South_of_Market">South of Market, SF Apartments</a></li>
            <li><a href="https://www.walkscore.com/CA/San_Francisco/Bernal_Heights">Bernal Heights, SF Apartments</a></li>
            <li><a href="https://www.walkscore.com/CA/San_Francisco/Noe_Valley">Noe Valley, SF Apartments</a></li>
            <li><a href="https://www.walkscore.com/MA/Boston/Beacon_Hill">Beacon Hill, Boston Apartments</a></li>
            <li><a href="https://www.walkscore.com/MA/Boston/Back_Bay">Back Bay, Boston Apartments</a></li>
            <li><a href="https://www.walkscore.com/IL/Chicago/Logan_Square">Logan Square, Chicago Apartments</a></li>
            <li><a href="https://www.walkscore.com/IL/Chicago/Lake_View">Lake View, Chicago  Apartments</a></li>
            <li><a href="https://www.walkscore.com/WA/Seattle/Capitol_Hill">Capitol Hill, Seattle Apartments</a></li>
            <li><a href="https://www.walkscore.com/WA/Seattle/Belltown">Belltown, Seattle Apartments</a></li>
            <li><a href="https://www.walkscore.com/WA/Seattle/University_District">University District, Seattle Apartments</a></li>
          </ul>
        </div>
        <div class="right-half">
          <ul class="textlist">
            <li><a href="https://www.walkscore.com/DC/Washington_D.C./Dupont_Circle">Dupont Circle, DC Apartments</a></li>
            <li><a href="https://www.walkscore.com/DC/Washington_D.C./Logan_Circle">Logan Circle, DC Apartments</a></li>
            <li><a href="https://www.walkscore.com/DC/Washington_D.C./Capitol_Hill">Capitol Hill, DC Apartments</a></li>
            <li><a href="https://www.walkscore.com/MN/Minneapolis/Loring_Park">Loring Park, Minneapolis Apartments</a></li>
            <li><a href="https://www.walkscore.com/MN/Minneapolis/Lowry_Hill_East">Lowry Hill East, Minneapolis Apartments</a></li>
            <li><a href="https://www.walkscore.com/CA/Oakland/Piedmont_Avenue">Piedmont, Oakland Apartments</a></li>
            <li><a href="https://www.walkscore.com/OR/Portland/Pearl_District">Pearl District, Portland Apartments</a></li>
            <li><a href="https://www.walkscore.com/OR/Portland/Buckman">Buckman, Portland Apartments</a></li>
            <li><a href="https://www.walkscore.com/PA/Philadelphia/Wharton.slash.Hawthorne.slash.Bella_Vista">Bella Vista, Philly Apartments</a></li>
            <li><a href="https://www.walkscore.com/PA/Philadelphia/University_City">University City, Philly Apartments</a></li>
            <li><a href="https://www.walkscore.com/CA/Palo_Alto">Palo Alto, CA Apartments</a></li>
            <li><a href="https://www.walkscore.com/CA/Berkeley">Berkeley, CA Apartments</a></li>
            <li><a href="https://www.walkscore.com/CA/Los_Angeles/Silver_Lake">Silver Lake, LA Apartments</a></li>
            <li><a href="https://www.walkscore.com/CA/Los_Angeles/Venice">Venice Beach, LA Apartments</a></li>
            <li><a href="https://www.walkscore.com/CA/Los_Angeles/Hollywood">Hollywood, LA Apartments</a></li>
          </ul>
        </div>
      </div>
      {% endif %}
    </div></div><!-- //root-container -->
  <div id="city-footer">
    <div class="root-container clearfix">
      <div class="section">
        <h5><a href="https://www.walkscore.com/">Walk Score</a></h5>
        <div id="social-media-buttons">
          <div class='friend-twitter'><a href="http://twitter.com/walkscore"></a></div>
          <div class='friend-facebook'><a href="http://www.facebook.com/walkscore"></a></div>
          <div class='friend-email-list'><a href="https://www.walkscore.com/live-more/#join-list"></a></div>
        </div>
        <ul>
          <li><a href="/widgets/">City-Go-Round Widgets</a></li>
          <li><a href="http://blog.walkscore.com/">Blog</a></li>
          <li><a href="https://www.walkscore.com/about.shtml">About</a></li>
          <li><strong><a href="https://www.walkscore.com/jobs/">Jobs</a></strong></li>
          <li><a href="https://www.walkscore.com/live-more/">Why It Matters</a></li>
          <li><a href="https://www.walkscore.com/press/">Press</a></li>
          <li><a href="https://www.walkscore.com/iphone/">iPhone</a></li>
          <li><a href="/terms-of-use/" rel="nofollow">Terms &amp; Privacy</a></li>
        </ul>
      </div>
      <div class="section">
        <h5><a href="https://www.walkscore.com/professional/">Professional</a></h5>
        <ul>
          <li><a href="https://www.walkscore.com/professional/real-estate-professionals.php">Real Estate Professionals</a></li>
          <li><a href="https://www.walkscore.com/professional/neighborhood-map.php">Neighborhood Map</a></li>
          <li><a href="https://www.walkscore.com/professional/walk-score-apis.php">Walk Score APIs</a></li>
          <li><a href="https://www.walkscore.com/professional/research.php">Walkability Research</a></li>
          <li><a href="https://www.walkscore.com/professional/badges.php">Badges</a></li>
        </ul>
      </div><p class="credit"><br>&copy; 2014 Walk Score</p>
    </div>
    <div class="bot-right"><p id="gtfs-data-exchange"><span>Data provided by GTFS Data Exchange</span><a href="http://www.gtfs-data-exchange.com/"><img src="{% static_url /images/gtfs-data-exchange-logo-trans.gif %}" alt="GTFS Data Exchange Logo" /></a></p></div>
  </div>
</div>

{% block extra-content %}
{% endblock %}
<script type="text/javascript" src="{% static_url /js/util.js %}"></script>
{% block scripts %}
{% endblock %}

<script type="text/javascript">
//<![CDATA[
jQuery("#location_query").bind("focus", function(e) { if (this.value=='Type a city or ZIP') this.value=''; jQuery(this).css("color","#444"); });
jQuery("#location_query").bind("blur", function(e) { if (this.value=='') { this.value='Type a city or ZIP'; jQuery(this).css("color","#888");} });
//]]>
</script>


{% if no_getsatisfaction %}{% else %}
<script type="text/javascript" charset="utf-8">
//<![CDATA[
var is_ssl = ("https:" == document.location.protocol);
var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
//]]>
</script>

<script type="text/javascript" charset="utf-8">
//<![CDATA[
var feedback_widget_options = {};

feedback_widget_options.display = "overlay";
feedback_widget_options.company = "citygoround";
feedback_widget_options.placement = "right";
feedback_widget_options.color = "#bbbbbb";
feedback_widget_options.style = "idea";

var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
//]]>
</script>

{% endif %}

<script type="text/javascript">
//<![CDATA[
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
//]]>
</script>
<script type="text/javascript">
//<![CDATA[
    try
    {
        var pageTracker = _gat._getTracker("UA-11669017-1");
        pageTracker._trackPageview();
    } catch(err) {}
//]]>
</script>

</body>
</html>
