<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>{% block title %}City-Go-Round - A searchable directory of transit apps and public transit agencies{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static_url /css/main.css %}" media="screen" />
<script type="text/javascript" src="http://www.google.com/jsapi?key={{GOOGLE_API_KEY}}"></script>
{% include "includes/jquery_scripts.html" %}
{% block headscripts %}
{% endblock %}
    
<script type="text/javascript">
  function goto_search(){
    var loc = jQuery('#location_query').val()
    window.location.replace('/apps/nearby/?location_query=' + loc);    
    return false;
  }
</script>
{% block extra_head %}{% endblock %}

</head>
<body>
<div id="header">
  {% block header %}
    <h1 onclick="document.location='{% url home %}'">Open Transit Data</h1>
    <h2>Apps that help you get around</h2>
    <a id="front-seat-logo" href="http://www.frontseat.org"><img src="{% static_url /images/front-seat-logo.gif %}" /></a>
    <p id="nav">
        <a href="{% url apps_gallery %}">Apps</a> &nbsp; | &nbsp;
        <a href="{% url agencies %}">Agencies</a> &nbsp; | &nbsp;
        <a href="{% url about %}">About</a> 
    <div id="friends-and-followers">
      <div class="clickable2 friend-twitter" onclick='trackNavigationNewWindow("http://twitter.com/citygoround", "header", "follow us", "twitter")'>
        <p>Follow us</p>
      </div>
      <div class="clickable2 friend-facebook" onclick='trackNavigationNewWindow("http://www.facebook.com/pages/City-Go-Round/179590999311", "header", "follow us", "facebook")'>
        <p>Friend us</p>
      </div>
    </div>
  {% endblock %}
</div>
<div id="lede">
    {% block lede %}
    <form onsubmit="goto_search(); return false;">
        <label>Find apps near you:</label>
        <input id="location_query" name="location_query" type="text" value="{% block location_query %}Type a city or ZIP{% endblock %}">
        <input id="search" name="search" type="image" src="{% static_url /images/button-search.gif %}">
    </form>
    <p>U.S. only for now.</p>
  {% endblock %}
</div>
<div id="outer-wrapper">
    {% block content %}
    {% endblock %}
</div>
<div id="footer">
    <div id="footer-nav">
        <a href="{% url contact %}">Contact</a> &nbsp;-&nbsp; 
        <a href="{% url opensource %}">Open Source</a> &nbsp;-&nbsp; 
        <a href="{% url widgets %}">Widgets</a>
    </div>
    <div id="license"><p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/us/80x15.png" /></a></p></div>


    <p id="gtfs-data-exchange-logo"><a href="http://www.gtfs-data-exchange.com/"><img src="{% static_url /images/gtfs-data-exchange-logo.gif %}" /></a>Data provided by GTFS Data Exchange </p>
</div>

{% block extra-content %}
{% endblock %}
</body>
<script src="{% static_url /js/util.js %}" type="text/javascript"></script>
{% block scripts %}
{% endblock %}

<script type="text/javascript">
jQuery("#location_query").bind("focus", function(e) { if (this.value=='Type a city or ZIP') this.value=''; jQuery(this).css("color","#444"); });
jQuery("#location_query").bind("blur", function(e) { if (this.value=='') { this.value='Type a city or ZIP'; jQuery(this).css("color","#888");} });
</script>


{% if no_getsatisfaction %}{% else %}
<script type="text/javascript" charset="utf-8">
var is_ssl = ("https:" == document.location.protocol);
var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
var feedback_widget_options = {};

feedback_widget_options.display = "overlay";
feedback_widget_options.company = "citygoround";
feedback_widget_options.placement = "right";
feedback_widget_options.color = "#bbbbbb";
feedback_widget_options.style = "idea";

var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>

{% endif %}

<script type="text/javascript"> 
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); 
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); 
</script> 
<script type="text/javascript"> try { var pageTracker = _gat._getTracker("UA-11647297-1"); pageTracker._trackPageview(); } catch(err) {}</script>
</html>
