<html>
<head>
<title>[{% block title %}Open Transit Data{% endblock %}]</title>
<link rel="stylesheet" type="text/css" href="{% static_url /css/main.css %}" media="screen" />
<script type="text/javascript"src="http://www.google.com/jsapi?key=ABQIAAAAOtgwyX124IX2Zpe7gGhBsxSCRqJWmDzbZh5mozwXpdIfpjWXRhSi9qNJD6bg7_Sl6DjLqkfJ2UmOmA"></script><script type="text/javascript">
    google.load("jquery", "1.3.2");
    google.load("jqueryui", "1.7.2");
    {% block googlescripts %}
    {% endblock %}
</script>
{% block extra_head %}{% endblock %}

</head>
<body>
<div id="header">
  {% block header %}
      <h1 onclick="document.location='{% url home %}'">Open Transit Data</h1>
      <h2>Innovative apps help you get around</h2>
      <p id="nav"><a href="">About</a> &nbsp; <a href="">FAQ</a> &nbsp; <a href="">Contact</a></p>
      <div id="friends-and-followers">
          <div class="clickable2 friend-twitter" onclick='trackNavigationNewWindow("http://twitter.com/opentransitdata", "header", "follow us", "twitter")'>
            <label>Follow us</label>
          </div>
      <div class="clickable2 friend-facebook" onclick='trackNavigationNewWindow("http://www.facebook.com/pages/Open-Transit-Data/328347565520?created#/pages/Open-Transit-Data/328347565520?v=wall", "header", "follow us", "facebook")'>
              <label>Friend us</label>
      </div>
    </div>
  {% endblock %}
</div>
<div id="lede">
	{% block lede %}
  	<label>Find apps near you:</label>
  	<input id="query" name="query" type="text">
  	<input id="search" name="search" type="image" src="{% static_url /images/button-search.gif %}">
  	<p>U.S. only for now.</p>
  {% endblock %}
</div>
<div id="outer-wrapper">
	{% block content %}
	{% endblock %}
</div>
<div id="footer">
    <a id="front-seat-logo" href="http://www.frontseat.org"><img src="{% static_url /images/front-seat-logo.gif %}" /></a>
    <p id="gtfs-data-exchange-logo"><a href="http://www.gtfs-data-exchange.com/"><img src="{% static_url /images/gtfs-data-exchange-logo.gif %}" /></a>Data provided by GTFS Data Exchange </p>
</div>
</body>

{% block scripts %}
{% endblock %}
</html>