{% extends 'base.html' %}

{% block title %}Thanks for contacting us &mdash; City-Go-Round{% endblock %}

{% block content %}
<div class="body-content">
  <h2>Thanks for contacting us!</h2>
  <p>We read every message we receive but may not be able to respond to each one.</p>
  <p>Back to the <a href="{% url home %}">home page</a></p>
  <h3>Have you signed our petition?</h3>
  <div class="col-group">
    <div id="petition" class="body-content thinline">
			<div class="boxed-content">	
	    	<h2>SUPPORT OPEN DATA</h2>
				<div class="wide-col rightmost">
			    {% include "includes/petition-text.html" %}	
			    {% include "includes/petition-disclaimer.html" %}				
		    </div>
		    <div class="narrow-col">
		    	{% include "includes/petition-form.html" %}
			  </div>
			  <br class="clear-all" />
		  </div>
	  </div>
  </div>
</div>
{% endblock %}

