{% extends 'base.html' %}

{% block title %}Contact Us &mdash; TransitApps.org{% endblock %}

{% block content %}
  <h2>Thanks for contacting us!</h2>
  <p>We read every message we receive but may not be able to respond to each one.</p>
  <h3>Have you signed our petiton yes?</h3>
  <div id="petition" class="body-content thinline">
		<div class="boxed-content">
	    <h2>DEMAND PUBLIC DATA</h2>
	    {% include "petition-text.html" %}
	    {% include "petition-form.html" %}
	    {% include "petition-disclaimer.html" %}
	  </div>
  </div>
{% endblock %}

