{% extends 'base.html' %}

{% block title %}Edit an agency &mdash; City-Go-Round{% endblock %}

{% block content %}

    <p>
        <form action="" method="POST">
            data format:
            <li>Gtfs data exchange id: comma-separated values, no spaces between values
            <li>State: two-letter state code, use capital letters like 'WA'
            <li>Country: two-letter ISO country code. 'us' for us.
            <br><br>
            <table>
            <tr><td>agency</td><td>{{agency.key.id}}</td></tr>
    {% for field in form %}
            <tr><td>{{ field.label_tag }}</td><td>{{ field }}</td><td>{{ field.errors }}</td><tr>
    {% endfor %}

            </table>
            <br>
            url slug: {{agency.urlslug}}<br>

            <input type="submit"></input>
        </form>
    </p>
    
{% endblock %}
