{% extends 'base.html' %}

{% block title %}Edit an agency &mdash; City-Go-Round{% endblock %}

{% block content %}

    <p>
        <form action="" method="POST">
            <table>
            <tr><td>agency</td><td>{{agency.key.id}}</td></tr>
    {% for field in form %}
            <tr><td>{{ field.label_tag }}</td><td>{{ field }}</td><td>{{ field.errors }}</td><tr>
    {% endfor %}

            </table>

            <input type="submit"></input>
        </form>
    </p>
    
{% endblock %}
