<div id="feat">    
  <h3>Featured Apps</h3>
	<div id="feat-bigprev"></div>  
	<div id="feat-bignext"></div>   
	<div id="feat-controls">
		<div id="feat-controls-prev"></div>
		<div id="feat-controls-jumpers">
			<!-- loop here for jump control links -->
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>	
		<div id="feat-controls-next"></div>	
	</div>  
  <a id="view-all" href="">View all {{transit_app_count}} apps</a>
  <div id="feat-content">
  	
  	<!-- loop here to enter apps -->
		<div>
			<a href=""><img src="{% static_url /images/appthumbs/app-1-large.png %}"></a>
			<h4><a href="">SEA Bus Map</a></h4>
			<p>So, really, where is the bus?  You won't wonder long if you have SEA bus map</p>
		</div>
		
	</div>
</div>
