{% extends 'base.html' %}

{% block title %}City-Go-Round - Bus schedules, train schedules, trip planners, transit maps, and public transit apps.{% endblock %}

{% block headscripts %}
<script type="text/javascript" src="{% static_url /js/jquery.tools.min.js %}"></script>

<script type="text/javascript">
//<![CDATA[
// wait until document is fully scriptable
$(document).ready(function() {

    // select #flowplanes and make it scrollable. use circular and navigator plugins
    var api = $("#flowpanes").scrollable({size: 1, clickable:false}).circular().navigator({

        // select #flowtabs to be used as navigator
        navi: "#jumplinks",

        // select A tags inside the navigator to work as items (not direct children)
        naviItem: 'a',

        // assign "current" class name for the active A tag inside navigator
        activeClass: 'current',

        // NOTE DAVEPECK: This api parameter is absolute insanity, it and took forever to
        // notice that it even exists. This makes it clear to me that jQuery Tools is garbage.
        // but here it is...
        api:true
    });

    // we'll open up to a randomly chosen app
    var move_to = Math.floor(Math.random() * {{featured_apps|length}});
    api.setPage(move_to, 0);

    // now: show our applications
    if ($.browser.msie)
    {
        // TODO davepeck: we're shipping in < 24 hours and MSIE fading
        // looks awful. So turn it off using (evil) browser detection.
        $(".featured_app_container").removeClass("hidden");
    }
    else
    {
        $(".featured_app_container").fadeIn(250).removeClass("hidden");
    }
});
//]]>
</script>
{% endblock %}

{% block extra_head %}
    <style type="text/css">
        #header, #lede, #outer-wrapper {
            width: 765px;
        }
        #lede {
    		background: url({% static_url /images/feature-box-top.gif %}) 0 0 no-repeat #388ec3;
    		margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}
<div id="home">
	<div id="features">
    {% include "includes/featured-apps.html" %}
	</div>
	<div style="float: left;">
    	<div id="no-data-list" class="data-lists body-content">
    		<h2><a href="{% url citygoround.views.agency.agencies %}us/?public=no_public">Apps Need Open Data</a></h2>
            <!--p><a href="{% url citygoround.views.agency.agencies %}?public=no_public">{{closed_agencies.count}} transit agencies</a> do not provide open data to app developers.</p-->
            <label>Largest transit agencies with no open data:</label>
            {% include "includes/no-data-list.html" %}
            <p>Transit agency? <a href="{% static_url /about/#0.1_agency %}">How to get off this list</a></p>
        </div>
        <div id="recently-added-list" class="data-lists body-content">
    	    <h2><a href="{% url citygoround.views.agency.agencies %}us/?public=public">Thank You!</a></h2>
    	    <p>To the <a href="{% url citygoround.views.agency.agencies %}?public=public">{{open_agencies.count}} transit agencies</a> who provide open data.</p>
            <label>Most recently added:</label>
            {% include "includes/recently-added-list.html" %}
        </div>
    </div>
    <div class="wide-col rightmost">
        <div id="petition" class="body-content thinline">
    		<div class="boxed-content">
                <h2>Support Open Data</h2>
                {% include "includes/petition-text.html" %}
                {% include "includes/petition-form.html" %}
                {% include "includes/petition-disclaimer.html" %}
            </div>
        </div>
        <div id="petition-comments">
        {% include "includes/tweet-viewer.html" %}
        </div>
    </div>
</div>
{% endblock %}
