{% extends 'base.html' %}

{% block content %}
<div id="home">
	<div id="features">
    {% include "includes/featured-apps.html" %}			
	</div>
	<div class="col-group data-lists thinline">
		<div class="boxed-content">
			<div class="green">
				<h2>Public Data Powers Apps</h2>
                <p>Transit apps rely on data from transit agencies.  Does your city have public data?</p>
                <br>
			</div>
			<div class="narrow-col">
			  <div id="no-data-list">
			    <h3>Agencies with no public data</h3>
			    <h6>{{closed_agencies.count}} agencies <a href="{% url opentransit.views.agency.agencies %}us/?public=no_public">View all</a></h6>
			    {% include "includes/no-data-list.html" %}
			    <p><br />
			    Transit agency? <a href="/about/#0.1_agency">How to get off this list</a></p>
			  </div>
		  	</div>
		  <div class="wide-col rightmost">
		    <div id="recently-added-list">
		      <h3>Agencies with public data</h3>
		      <h6>{{open_agencies.count}} agencies  <a href="{% url opentransit.views.agency.agencies %}us/?public=public">View all</a></h6></h6>
			    {% include "includes/recently-added-list.html" %}      
		    </div>
		  </div>
		</div>
  </div>
  <div class="wide-col rightmost">
	  <div id="petition" class="body-content thinline">
			<div class="boxed-content">
		    <h2>DEMAND PUBLIC DATA</h2>
		    {% include "includes/petition-text.html" %}
		    {% include "includes/petition-form.html" %}
		    {% include "includes/petition-disclaimer.html" %}
		  </div>
	  </div>
	  <div id="petition-comments">
	    <p class="body"><a href="">Tweet a comment</a> <span class="p2">that includes citygoround.org</span></p>
	    {% include "includes/tweet-viewer.html" %}
	  </div>
  </div>
</div>
{% endblock %}
