{% extends 'base.html' %}

{% block title %}About City-Go-Round{% endblock %}

{% block content %}
<div class="col-group body-content">
    <h2>City-Go-Round is Open Source </h2> 
    <p>If you&#39;re a software developer, help us make it better!</p> 
    <p>City-Go-Round is written in <a href="http://www.djangoproject.com/" target="_blank">Django</a> and is hosted on <a href="http://code.google.com/appengine/" target="_blank">Google App Engine</a>.</p> 
    <p>Here&#39;s the <a href="http://github.com/bmander/CityGoRound/" target="_blank">source code</a> and a <a href="http://github.com/bmander/opentransitdata/issues" target="_blank">list of improvements</a> we&#39;d like to make.</p> 
    <p>To contribute, join the <a href="http://groups.google.com/group/opentransitdata" target="_blank">Open Transit Data Google</a> Group and say hello.</p> 
</div>
<div class="wide-col rightmost">
	{% include "includes/mrec1.html" %}
</div>

{% endblock %}


