    
    <script type="text/javascript">
    
    function react_to_twitter( data ) {
      for(i=0; i<data.results_per_page; i++) {
        var result = data.results[i];
        
        $("#tweet-viewer").append("<div><a href=\"http://twitter.com/"+result.from_user+"\"><img src="+result.profile_image_url+
                                  " width=50px height=50px></a><blockquote><cite>@"+result.from_user+
                                  " said:</cite> \""+result.text+"\"</blockquote><label>"+result.created_at+"</label></div>")
        
      }
    }
    
     $(document).ready(function(){
      $.getJSON("http://search.twitter.com/search.json?callback=?&q=transit", react_to_twitter);
     });

    </script>

<div id="tweet-viewer">	    
</div>
