{% extends 'base.html' %}

{% block title %}City-Go-Round Widgets{% endblock %}

{% block content %}

<div id="widgets" style="float:left">
    <h2>City-Go-Round Widgets</h2> 
    <p>Use these City-Go-Round widgets to promote transit apps and open data:</p> 
    <div id="widgets" class="col-group app-gallery body-content">
            
        <h4>Find Public Transit Apps</h4>
        <div class="wide-col">
            <p>Size: 180 x 150</p>
            <style>#cgrw1 h2#cgrwh, #cgrw1 p#cgrwp, #cgrw1 form, #cgrw1 input, #cgrw1 img {text-align: left; text-decoration:none; padding: 0; margin: 0; font-style: normal; vertical-align: baseline; background: none; border: 0; outline: 0;}
            #cgrw1 p#cgrwp, #cgrw1 input {font: 12px/12px Verdana, Arial, Helvetica, sans-serif;}
            #cgrw1 h2#cgrwh a span {visibility: hidden; }            
            #cgrw1 {position: relative; width: 180px; height: 150px; background-color: #fff;}
            #cgrw1 h2#cgrwh {position: absolute; top: 11px; left: 10px;}
            #cgrw1 h2#cgrwh a {display: block; width: 163px; height: 67px; background: url(http://citygoround.org/images/widgets/public-transit-apps-near-you.gif) 0 0 no-repeat;text-decoration: none;}
            #cgrw1 p#cgrwp {position: absolute; top: 79px; left: 10px; color: #555;}
            #cgrw1 form {position: absolute; top: 97px; left: 10px; width: 160px; height: 23px;}
            #cgrw1 #cgr-loc1 {color: #888; width: 122px; height: 21px; border: 1px solid #999; text-indent: 8px;}
            #cgrw1 #cgr-search {position: absolute; top: 0px; right: 0; width: 25px; height: 21px; border: 1px solid #c2c2c2;}
            #cgrw1 #cgr-logo {position: absolute; top: 127px; left: 46px; border: 0;}
            </style>
            <div id="cgrw1">
            <h2 id="cgrwh"><a target="_blank" href="http://citygoround.org?utm_medium=apps-near-you-widget&utm_campaign=title-link" title="Find Public Transit Apps Near You on CityGoRound.org"><span>Find Public Transit Apps Near You on City-Go-Round.org</span></a></h2>
            <p id="cgrwp">Find apps in your city:</p>
            <form onsubmit='var url="http://citygoround.org/apps/nearby/?q=" + document.getElementById("cgr-loc1").value + "&utm_medium=apps-near-you-widget&utm_campaign=form-submit"; window.open(url, "CityGoRound"); return false;'>
            <input id="cgr-loc1" name="loc" type="text" value="City or ZIP" onfocus ="if (this.value=='City or ZIP') { this.value=''; this.style.color = '#444';}" onblur = "if (this.value=='') { this.value='City or ZIP'; this.style.color = '#888';}" />
            <input id="cgr-search" name="search" type="image" src="http://citygoround.org/images/widgets/go-button-small.gif" />
            </form>
            <a target="_blank" id="cgr-logo" href="http://citygoround.org?utm_medium=apps-near-you-widget&utm_campaign=footer-logo-link" title="CityGoRound.org"><img src="http://citygoround.org/images/widgets/city-go-round-logo-small.gif" alt="CityGoRound.org logo" /></a>
            </div>
        </div>
        
        <div class="narrow-col"> 
            <p><strong>Get the code:</strong> (copy and paste)</p>           
<textarea readonly="readonly" class="code-box" onclick="this.select();"><style>#cgrw1 h2#cgrwh, #cgrw1 p#cgrwp, #cgrw1 form, #cgrw1 input, #cgrw1 img {text-align: left; text-decoration:none; padding: 0; margin: 0; font-style: normal; vertical-align: baseline; background: none; border: 0; outline: 0;}
#cgrw1 p#cgrwp, #cgrw1 input {font: 12px/12px Verdana, Arial, Helvetica, sans-serif;}
#cgrw1 h2#cgrwh a span {visibility: hidden; }            
#cgrw1 {position: relative; width: 180px; height: 150px; background-color: #fff;}
#cgrw1 h2#cgrwh {position: absolute; top: 11px; left: 10px;}
#cgrw1 h2#cgrwh a {display: block; width: 163px; height: 67px; background: url(http://citygoround.org/images/widgets/public-transit-apps-near-you.gif) 0 0 no-repeat;text-decoration: none;}
#cgrw1 p#cgrwp {position: absolute; top: 79px; left: 10px; color: #555;}
#cgrw1 form {position: absolute; top: 97px; left: 10px; width: 160px; height: 23px;}
#cgrw1 #cgr-loc1 {color: #888; width: 122px; height: 21px; border: 1px solid #999; text-indent: 8px;}
#cgrw1 #cgr-search {position: absolute; top: 0px; right: 0; width: 25px; height: 21px; border: 1px solid #c2c2c2;}
#cgrw1 #cgr-logo {position: absolute; top: 127px; left: 46px; border: 0;}
</style>
<div id="cgrw1">
<h2 id="cgrwh"><a target="_blank" href="http://citygoround.org?utm_medium=apps-near-you-widget&utm_campaign=title-link" title="Find Public Transit Apps Near You on CityGoRound.org"><span>Find Public Transit Apps Near You on City-Go-Round.org</span></a></h2>
<p id="cgrwp">Find apps in your city:</p>
<form onsubmit='var url="http://citygoround.org/apps/nearby/?q=" + document.getElementById("cgr-loc1").value + "&utm_medium=apps-near-you-widget&utm_campaign=form-submit"; window.open(url, "CityGoRound"); return false;'>
<input id="cgr-loc1" name="loc" type="text" value="City or ZIP" onfocus ="if (this.value=='City or ZIP') { this.value=''; this.style.color = '#444';}" onblur = "if (this.value=='') { this.value='City or ZIP'; this.style.color = '#888';}" />
<input id="cgr-search" name="search" type="image" src="http://citygoround.org/images/widgets/go-button-small.gif" />
</form>
<a target="_blank" id="cgr-logo" href="http://citygoround.org?utm_medium=apps-near-you-widget&utm_campaign=footer-logo-link" title="CityGoRound.org"><img src="http://citygoround.org/images/widgets/city-go-round-logo-small.gif" alt="CityGoRound.org logo" /></a>
</div></textarea>
        </div>
    </div>
    <div class="col-group app-gallery body-content">
        <h4>Support Open Data Widget</h4>
        <div class="wide-col">
            <p>Size: 180 x 150</p>
            <style>#cgrw2 h2#cgrwh, #cgrw2 p#cgrwp, #cgrw2 form, #cgrw2 input, #cgrw2 img {text-align: left; text-decoration:none; padding: 0; margin: 0; font-style: normal; vertical-align: baseline; background: none; border: 0; outline: 0;}
            #cgrw2 p#cgrwp, #cgrw2 input {font: 12px/12px Verdana, Arial, Helvetica, sans-serif;}
            #cgrw2 h2#cgrwh a span {visibility: hidden; }            
            #cgrw2 {position: relative; width: 180px; height: 150px; background-color: #fff;}
            #cgrw2 h2#cgrwh {position: absolute; top: 11px; left: 10px;}
            #cgrw2 h2#cgrwh a {display: block; width: 160px; height: 53px; background: url(http://citygoround.org/images/widgets/support-open-transit-data.gif) 0 0 no-repeat;text-decoration: none;}
            #cgrw2 p#cgrwp {position: absolute; top: 79px; left: 10px; color: #555;}
            #cgrw2 form {position: absolute; top: 97px; left: 10px; width: 160px; height: 23px;}
            #cgrw2 #cgr-loc2 {color: #888; width: 122px; height: 21px; border: 1px solid #999; text-indent: 8px;}
            #cgrw2 #cgr-search {position: absolute; top: 0px; right: 0; width: 25px; height: 21px; border: 1px solid #c2c2c2;}
            #cgrw2 #cgr-logo {position: absolute; top: 127px; left: 46px; border: 0;}
            </style>
            <div id="cgrw2">
            <h2 id="cgrwh"><a target="_blank" href="http://citygoround.org?utm_medium=support-open-data-widget&utm_campaign=title-link" title="Support Open Data on CityGoRound.org"><span>Support open data on City-Go-Round.org</span></a></h2>
            <p id="cgrwp">Does your city have it?</p>
            <form onsubmit='var url="http://citygoround.org/apps/nearby/?q=" + document.getElementById("cgr-loc2").value + "&utm_medium=support-open-data-widget&utm_campaign=form-submit"; window.open(url, "CityGoRound"); return false;'>
            <input id="cgr-loc2" name="loc" type="text" value="Type a City or ZIP" onfocus ="if (this.value=='Type a City or ZIP') { this.value=''; this.style.color = '#444';}" onblur = "if (this.value=='') { this.value='Type a City or ZIP'; this.style.color = '#888';}" />
            <input id="cgr-search" name="search" type="image" src="http://citygoround.org/images/widgets/go-button-small.gif" />
            </form>
            <a target="_blank" id="cgr-logo" href="http://citygoround.org?utm_medium=support-open-data-widget&utm_campaign=footer-logo-link" title="CityGoRound.org"><img src="http://citygoround.org/images/widgets/city-go-round-logo-small.gif" alt="CityGoRound.org logo" /></a>
            </div>
        </div>
        
        <div class="narrow-col">
            <p><strong>Get the code:</strong> (copy and paste)</p> 
<textarea readonly="readonly" class="code-box" onclick="this.select();"><style>#cgrw2 h2#cgrwh, #cgrw2 p#cgrwp, #cgrw2 form, #cgrw2 input, #cgrw2 img {text-align: left; text-decoration:none; padding: 0; margin: 0; font-style: normal; vertical-align: baseline; background: none; border: 0; outline: 0;}
#cgrw2 p#cgrwp, #cgrw2 input {font: 12px/12px Verdana, Arial, Helvetica, sans-serif;}
#cgrw2 h2#cgrwh a span {visibility: hidden; }            
#cgrw2 {position: relative; width: 180px; height: 150px; background-color: #fff;}
#cgrw2 h2#cgrwh {position: absolute; top: 11px; left: 10px;}
#cgrw2 h2#cgrwh a {display: block; width: 160px; height: 53px; background: url(http://citygoround.org/images/widgets/support-open-transit-data.gif) 0 0 no-repeat;text-decoration: none;}
#cgrw2 p#cgrwp {position: absolute; top: 79px; left: 10px; color: #555;}
#cgrw2 form {position: absolute; top: 97px; left: 10px; width: 160px; height: 23px;}
#cgrw2 #cgr-loc2 {color: #888; width: 122px; height: 21px; border: 1px solid #999; text-indent: 8px;}
#cgrw2 #cgr-search {position: absolute; top: 0px; right: 0; width: 25px; height: 21px; border: 1px solid #c2c2c2;}
#cgrw2 #cgr-logo {position: absolute; top: 127px; left: 46px; border: 0;}
</style>
<div id="cgrw2">
<h2 id="cgrwh"><a target="_blank" href="http://citygoround.org?utm_medium=support-open-data-widget&utm_campaign=title-link" title="Support Open Data on CityGoRound.org"><span>Support open data on City-Go-Round.org</span></a></h2>
<p id="cgrwp">Does your city have it?</p>
<form onsubmit='var url="http://citygoround.org/apps/nearby/?q=" + document.getElementById("cgr-loc2").value + "&utm_medium=support-open-data-widget&utm_campaign=form-submit"; window.open(url, "CityGoRound"); return false;'>
<input id="cgr-loc2" name="loc" type="text" value="Type a City or ZIP" onfocus ="if (this.value=='Type a City or ZIP') { this.value=''; this.style.color = '#444';}" onblur = "if (this.value=='') { this.value='Type a City or ZIP'; this.style.color = '#888';}" />
<input id="cgr-search" name="search" type="image" src="http://citygoround.org/images/widgets/go-button-small.gif" />
</form>
<a target="_blank" id="cgr-logo" href="http://citygoround.org?utm_medium=support-open-data-widget&utm_campaign=footer-logo-link" title="CityGoRound.org"><img src="http://citygoround.org/images/widgets/city-go-round-logo-small.gif" alt="CityGoRound.org logo" /></a>
</div></textarea>
        </div>
        
    </div>

    <div class="col-group app-gallery body-content">
        <h4>Find Transit Apps Widget</h4>
        <div class="wide-col">
            <p>Size: 300 x 130</p>

            <style>#cgrw3 h2#cgrwh, #cgrw3 p#cgrwp, #cgrw3 form, #cgrw3 input, #cgrw3 img {text-align: left; text-decoration:none; padding: 0; margin: 0; font-style: normal; vertical-align: baseline; background: none; border: 0; outline: 0;}
            #cgrw3 p#cgrwp, #cgrw3 input {font: 12px/12px Verdana, Arial, Helvetica, sans-serif;}
            #cgrw3 h2#cgrwh a span {visibility: hidden; }            
            #cgrw3 {position: relative; width: 300px; height: 100px; background-color: #fff;}
            #cgrw3 h2#cgrwh {position: absolute; top: 7px; left: 8px;}
            #cgrw3 h2#cgrwh a {display: block; width: 262px; height: 37px; background: url(http://citygoround.org/images/widgets/find-transit-apps.gif) 0 0 no-repeat;text-decoration: none;}
            #cgrw3 p#cgrwp {position: absolute; top: 81px; left: 22px; color: #555; font-size: 11px}
            #cgrw3 form {position: absolute; top: 50px; left: 11px; width: 277px; height: 23px;}
            #cgrw3 #cgr-loc3 {color: #888; width: 235px; height: 21px; border: 1px solid #999; text-indent: 8px;}
            #cgrw3 #cgr-search {position: absolute; top: 0px; right: 0; width: 25px; height: 21px; border: 1px solid #c2c2c2;}
            #cgrw3 #cgr-logo {position: absolute; top: 77px; left: 202px; border: 0;}            </style>
            <div id="cgrw3">
            <h2 id="cgrwh"><a target="_blank" href="http://citygoround.org?utm_medium=find-apps-widget&utm_campaign=title-link" title="Find Public Transit Apps Near You on CityGoRound.org"><span>Support open data on City-Go-Round.org</span></a></h2>
            <p id="cgrwp">Helpful public transit apps from</p>
            <form onsubmit='var url="http://citygoround.org/apps/nearby/?q=" + document.getElementById("cgr-loc3").value + "&utm_medium=find-apps-widget&utm_campaign=form-submit"; window.open(url, "CityGoRound"); return false;'>
            <input id="cgr-loc3" name="loc" type="text" value="Type a City or ZIP" onfocus ="if (this.value=='Type a City or ZIP') { this.value=''; this.style.color = '#444';}" onblur = "if (this.value=='') { this.value='Type a City or ZIP'; this.style.color = '#888';}" />
            <input id="cgr-search" name="search" type="image" src="http://citygoround.org/images/widgets/go-button-small.gif" />
            </form>
            <a target="_blank" id="cgr-logo" href="http://citygoround.org?utm_medium=find-apps-widget&utm_campaign=footer-logo-link" title="CityGoRound.org"><img src="http://citygoround.org/images/widgets/city-go-round-logo-xsmall.gif" alt="CityGoRound.org logo" /></a>
            </div>
        </div>
        
        <div class="narrow-col">
            <p><strong>Get the code:</strong> (copy and paste)</p> 
<textarea readonly="readonly" class="code-box" onclick="this.select();"><style>#cgrw3 h2#cgrwh, #cgrw3 p#cgrwp, #cgrw3 form, #cgrw3 input, #cgrw3 img {text-align: left; text-decoration:none; padding: 0; margin: 0; font-style: normal; vertical-align: baseline; background: none; border: 0; outline: 0;}
#cgrw3 p#cgrwp, #cgrw3 input {font: 12px/12px Verdana, Arial, Helvetica, sans-serif;}
#cgrw3 h2#cgrwh a span {visibility: hidden; }            
#cgrw3 {position: relative; width: 300px; height: 100px; background-color: #fff;}
#cgrw3 h2#cgrwh {position: absolute; top: 7px; left: 8px;}
#cgrw3 h2#cgrwh a {display: block; width: 262px; height: 37px; background: url(http://citygoround.org/images/widgets/find-transit-apps.gif) 0 0 no-repeat;text-decoration: none;}
#cgrw3 p#cgrwp {position: absolute; top: 81px; left: 22px; color: #555; font-size: 11px}
#cgrw3 form {position: absolute; top: 50px; left: 11px; width: 277px; height: 23px;}
#cgrw3 #cgr-loc3 {color: #888; width: 235px; height: 21px; border: 1px solid #999; text-indent: 8px;}
#cgrw3 #cgr-search {position: absolute; top: 0px; right: 0; width: 25px; height: 21px; border: 1px solid #c2c2c2;}
#cgrw3 #cgr-logo {position: absolute; top: 77px; left: 202px; border: 0;}            </style>
<div id="cgrw3">
<h2 id="cgrwh"><a target="_blank" href="http://citygoround.org?utm_medium=find-apps-widget&utm_campaign=title-link" title="Find Public Transit Apps Near You on CityGoRound.org"><span>Support open data on City-Go-Round.org</span></a></h2>
<p id="cgrwp">Helpful public transit apps from</p>
<form onsubmit='var url="http://citygoround.org/apps/nearby/?q=" + document.getElementById("cgr-loc3").value + "&utm_medium=find-apps-widget&utm_campaign=form-submit"; window.open(url, "CityGoRound"); return false;'>
<input id="cgr-loc3" name="loc" type="text" value="Type a City or ZIP" onfocus ="if (this.value=='Type a City or ZIP') { this.value=''; this.style.color = '#444';}" onblur = "if (this.value=='') { this.value='Type a City or ZIP'; this.style.color = '#888';}" />
<input id="cgr-search" name="search" type="image" src="http://citygoround.org/images/widgets/go-button-small.gif" />
</form>
<a target="_blank" id="cgr-logo" href="http://citygoround.org?utm_medium=find-apps-widget&utm_campaign=footer-logo-link" title="CityGoRound.org"><img src="http://citygoround.org/images/widgets/city-go-round-logo-xsmall.gif" alt="CityGoRound.org logo" /></a>
</div></textarea>
        </div>
        
    </div>



</div>

<div class="wide-col rightmost">
	{% include "includes/mrec1.html" %}
</div>


{% endblock %}

