
{% block title %}About City-Go-Round{% endblock %}

{% block content %}
<div class="col-group app-gallery body-content">
<h2>City-Go-Round Widgets</h2> 
  
<p>Use these City-Go-Round widgets to promote transit apps and open data:</p> 
<div id="city-go-round-widget" style="position: relative; width: ">
    <p style="position: absolute; top: 97px; left: 7px; font:12px Verdana, Arial, Helvetica, sans-serif; color: #555;">Find apps in your city:</p>
    <form style="position: absolute; top: 96px; left: 6px;">
        <input id="location_query" name="location_query" type="text" value="Type a city or ZIP">
        <input id="search" name="search" type="image" src="http://citygoround.org/images/button-search.gif">
    </form>
    <a style="position: absolute; top: 127px; left: 50px;" href="http://citygoround.org"><img src="http://citygoround.org/images/city-go-round-logo-small.gif" /></a>
</div>


</div>

{% endblock %}

